.curve-hero{
	position: relative;
    width: 100%;
    padding: 60px 0;
}
.header-info{
	background: url(../assets/images/lady.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    color: white;
    padding: 20px;
    background-color: transparent;
    width: 100%;
    height: 525px;
    box-sizing: border-box;
    padding: 20px;
   	border-bottom-right-radius: 202px;

}
.testbox{
  max-width: 680px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 50px 0 0 100px;
}
.header-info p{
  line-height: 29px;
  letter-spacing: .3px;
  font-size: 18px;
  font-weight: 300;
}

.header-info h1{
    margin: 40px 0;
    font-weight: 500;
    line-height: 47px;
    letter-spacing: .22px;
}
.grizzy-grey{
	background-color: #f2f2f2;
	padding-bottom: 100px;
}
.bub-con{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.big-bubble{
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0 2px 12px -2px rgba(40,100,255,0.6);
	height: 250px;
	width: 250px;
}
.big-bubble h1{
	text-align: center;
}
.grow{
	flex-grow: 1;
}
.case-con{
	display: flex;
	flex-direction: column;
}
.case-con h1{
	padding-bottom: 30px;
}
.case-con a{
	border: 3px solid blue;
	border-radius: 10px;
	padding:12px 25px;
	color: blue;
	background-color: white;
	max-width: 217px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.content{
	padding: 6em;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}
.bubble-row{
	width: 80%;
	justify-content: center;
	align-items: center;
}
.why-header{
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 45px;
}
.apply-now{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.apply{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: blue;
	color: white;
	border-radius: 10px;
	max-width: 200px;
	width: 100%;
	padding:10px 40px;
	margin-top: 20px;
}
.text{
	max-width: 200px;
	width: 100%;
	font-weight: 300;
}
.number-row{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-bottom: 40px;
}
.number-col div{
	display: flex;
	justify-content: center;
	/*align-items: center;*/
	flex-direction: column;
	flex-grow: 1;
}
.space-out{
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-top: 37px;
}
.case-study h1{
	margin: 30px 0;
	max-width: 500px;
	width: 100%;
}
.case-study p{
	max-width: 500px;
	width: 100%;
}
.blue{
	color: blue;
	font-size: 12px;
	letter-spacing: 2px;
}
.number-col{
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}
.number-col h2{
	font-size:40px;
}
.number-col p{
	font-size: 16px;
	color: blue;
	letter-spacing: .48px;
	font-size: 22px;
}
.apply-now button{
	color: white;
	padding: 12px 45px;
	letter-spacing: .3px;
	border-radius: 8px;
	background: linear-gradient(140.11deg, #2864FF 0%, #00E1B4 100%);
	max-width: 213px;
	width: 100%;
	font-size: 18px;
	cursor: pointer;
}
#brand-row{
	display: flex;
	flex-wrap: wrap;
	padding: 5em;
	justify-content: center;
}
.extra-info p {
	font-size: 22px;
	margin-top: 20px;
}
.bgbrand{
	max-width: 125px;
	max-height: 125px;
	height: auto;
	width: auto;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}
.brands-row{
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: center;
	align-items: center;
}
.ahg{
	background: url(../assets/images/AHG.png);
	width: 125px;
	height: 125px;
	/*height: auto;
	width: auto;*/
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	margin:30px;
}
.ts{
	background: url(../assets/images/ts.png);
	width: 125px;
	height: 125px;
	/*height: auto;
	width: auto;*/
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	margin:30px;
}
.eg{
	background: url(../assets/images/eg.png);
	width: 125px;
	height: 125px;
	/*height: auto;
	width: auto;*/
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	margin:30px;
}
.msp{
	background: url(../assets/images/mspp.png);
	width: 125px;
	height: 125px;
	/*height: auto;
	width: auto;*/
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	margin:30px;
}
.hs{
	background: url(../assets/images/hs.png);
	width: 125px;
	height: 125px;
	/*height: auto;
	width: auto;*/
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	margin:30px;
}
.nik{
	background: url(../assets/images/NikeTP.png);
	width: 125px;
	height: 125px;
	/*height: auto;
	width: auto;*/
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	margin:30px;
}


.blank-brand{
	padding: 10px 20px;
	letter-spacing: .3px;
	border-radius: 8px;
	border: 1px solid black;
	height: 40px;
	background: grey;
	width: 20%;
	font-size: 14px;
	cursor: pointer;
	margin:25px;
}
.logos{
	height: 50px;
	/*width: 25%;*/
	margin: 45px;
}
.apply-now p{
	margin: 50px 0;
}
.atv-container,.everywhere-container{
	margin-top: 100px;
}
.navy-content{
	background-color: #38465B;
	padding: 6em;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.navy-content h1,.navy-content p,.navy-content h3{
	color: white;
}
.image-hero-row{
	background: url('../assets/images/househero.png');
	background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    height: 400px;
    display: flex;
    justify-content: flex-end;
}
.hero-text-box{
	max-width: 600px;
	text-align: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
	/*color: white;*/
	padding-right: 5em;
	font-weight: 300;
}
.hero-text-box h2{
	margin: 30px 0; 
}
.case-study-row{
	width: 70%;
}
.grey-content{
	background-color: #f6f6f6;
	/*height: 50px;*/
	padding: 6em;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.everywhere-info{
	display: flex;
	justify-content: center;
	/*align-items: center;*/
	flex-direction: column;
}
.atv-info h1,.everywhere-info h1{
	font-size: 27px;
	color: #3C465A;
	margin-bottom: 30px;
}
.atv-info p, .everywhere-info p{
	color: #3C465A;
	letter-spacing: .43px;
	font-size: 20px;
	max-width: 561px;
	width: 100%;
	font-size: 16px;
}
.everywhere-image{
	height: 400px;
}
.rectangle-row{
	display: flex;
	flex-direction: row;
	margin-top: 50px;
}
.standard-rec:before{
	content: url('../assets/images/clear-rec.png');
	margin-right: 10px;
}
.increase-rec:before{
	content: url('../assets/images/color-rec.png');
	margin-right: 10px;
}
.icon-bubbles{
	display: flex;
	align-items: flex-start;
	/*justify-content: center;*/
	width: 100%;
	padding:30px;
}

.iconTitle{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.iconTitle h3{
	margin-top: 20px;
}
.iconBorder,.blueIconBorder{
	display: flex;
	border-radius: 50%;
	justify-content: center;
}
.iconBorder img{
	height: 100px;
	width: 100px;
}
.blueIconBorder img{
	height: 100px;
	width: 106px;
}
.block{
	display: flex;
	flex-direction: column;
	justify-content: center;
	box-sizing: border-box;
	margin:10px;
	align-items: center;
	padding:26px;
}
.icon{
	height: 50px;
	width: 50px;
	/*margin-bottom: 20px;*/
}
.block h3{
	font-size: 20px;
	margin-bottom: 20px;
	text-align: center;
}
.block p{
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	font-weight: 300;
}

.merchant-gradient{
	background: linear-gradient(90deg, rgba(255,232,234,0) 0%, #FECCD1 100%);
}

.graph-image{
	display: flex;
	justify-content: center;
	align-items: center;
}


@media screen and (max-width: 1200px) {
	.graph-image{
		margin-top: 50px;
	}
	.text{
		max-width: 100%;
	}
}

@media screen and (max-width: 1000px) {
	#brand-row{
		padding: 10px;
	}
	.icon-bubbles{
		padding: 0;
	}
	.iconTitle{
		flex-direction: row;
		align-items: center;
		justify-content: flex-start;
	}
	.block{
		width: 50%;
	}
	.iconTItle h3{
		width: 40%;
	}
	.block h3{
		margin-left: 10px;
	}
	.icon-bubbles p{
		text-align: left;
		margin-top: 10px;
	}
	.everywhere-image{
		height: 250px;
	}
	.blank-brand{
		width: 45%;
		margin:5px;
	}
	.content{
		padding:0;
	}

}

@media screen and (max-width: 1000px) {
	.space-out{
		margin-top: 40px;
	}
	.testbox{
		padding: 0;
	}
	.bub-con{
		flex-direction: column;
	}
	.big-bubble{
		height: 200px;
		width: 200px;
		margin: 20px 0;
	}
	.content{
		padding: 0;
	}
	.extra-info,.apply-now{
		padding: 10px;
	}
	.extra-info{
		padding-top: 50px;
	}
	.apply-now{
		padding-bottom: 100px;
	}
	.brands-row{
		flex-direction: column;
	}
	.bubble-row{
		width: 100%;
		padding: 10px;
	}
}
@media screen and (max-width: 800px) {
	.iconTitle{
		flex-direction: row;
		align-items: center;
	}
	.case-study-row{
		width: 100%;
	}
	.block{
		width: 100%;
		/*margin: 20px;*/
		align-items: flex-start;
	}
	.iconTItle h3{
		width: 40%;
	}
	.block h3{
		margin-left: 10px;
		text-align: left;
	}
	.icon-bubbles p{
		text-align: left;
		margin-top: 10px;
		text-align: left;
	}
	.graph{
		height: 250px;
	}
	.hero-text-box{
		padding-right: 10px;
		/*max-width: 60%;*/
	}
}


@media screen and (max-width: 768px) {
	.content,.grey-content,.navy-content,#brand-row{
		/*padding:10px;*/
	}
	.graph{
		height: 200px;
	}

	.everywhere-container{
		margin-top: 50px;
	}
	.everywhere-image{
		height: 200px;
	}
}