body {background-color: #fff;}

.transition, p, ul li i:before, ul li i:after {
  transition: all 0.25s ease-in-out;
}

.flipIn, h1, ul li {
  animation: flipdown 0.5s ease both;
}


/*Page start*/

.clear { clear: both;}

.heroHowContainer {
    margin: 0;
    position: relative;
    background: url(../images/presents.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    align-items: center;
    top: 0;
}
.heroHowContainer .greyWithOpacity {
    position: absolute;
    background-color: #3C465A;
    width: 100%;
    height: 100%;
    opacity: 0.8;
}
.heroHowContainer .heroInfo {
    position: relative;
    color: #fff;
    padding-top: 70px;
}
.heroHowContainer .heroInfo h1 {
    font-size: 36px;
    font-weight: 600;
    line-height: 40px;
}
.heroHowContainer .heroInfo p {
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    max-width: 570px;
    margin-top: 34px;
}

.intrigued {
    background-color: #F5F6F7;
    margin-top: 0px;
    padding: 80px 0;
}
.intrigued h1 {
    color: #3C465A;
    font-size: 32px;
    font-weight: 600;
    line-height: 44px;
    text-align: center;
    padding: 0 25px 20px;
}
.intrigued p {
    max-width: 1440px;
    margin: 0 auto;
    text-align: center;
    padding: 0;
}
.downloadApp {
    margin: 0;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    align-items: center;
    top: 0;
    color: #fff;
    padding: 80px 30px;
    text-align: center;
    height: 500px;
}

.downloadApp h1 {
    color: #38465B;
    font-size: 32px;
    font-weight: 600;
    line-height: 44px;
    text-align: center;
}

.downloadApp p {
    max-width: 570px;
    color: #38465B;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    text-align: center;
    margin: 25px auto 20px;
}

.downloadApp .apple {
    height: 40px;
    width: 135px;
}
.downloadApp .android {
    height: 40px;
    width: 134.63px;
}

.downloadApp .apple {
    height: 40px;
    width: 135px;
}
.downloadApp .android {
    height: 40px;
    width: 134.63px;
}
.whiteLowOp{
    margin: auto;
    padding-top: 65px;
    padding-bottom: 65px;
    max-width: 800px;
    overflow: hidden;
}



----



.seamless {
    padding: 80px 0;
}

.seamless h1 {
    color: #3C465A;
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    line-height: 44px;
    margin-bottom: 50px;
    margin-top: 80px;

}
.seamless p {
    color: #3C465A;
    text-align: left;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    max-width: 550px;
    margin-bottom: 30px;
}
.seamless .icons {
    margin-left: -40px;
    margin-right: -40px;
    text-align: center;
}
.seamless img {
    display: inline;
    margin: 10px 40px;
    height: 40px;
}




-----



@media (max-width: 375px){
.intrigued p {
    max-width: 1440px;
    margin: 0 auto;
    text-align: center;
    padding: 0 !important;
}
 .bodyContainer{
        padding: 19px !important;
    }
.downloadApp{
  padding: 80px 19px !important;
}

}






@media (max-width: 980px) {

    .bodyContainer{
        padding: 0 20px;
    }

    .heroHowContainer .heroInfo {
    padding-top: 20px;
    padding-left: 0;
    padding-right: 0;
    }

@media (max-width: 1200px) {
    .heroHowContainer .heroInfo {
        /*padding: 120px 50px 0;*/
    }
    .everyStep {
        padding: 50px;
    }
    .everyStep .col-2 {
        width: 100%;
        padding: 0 0 50px;
    }
}

@media (max-width: 980px) {
    .heroHowContainer .heroInfo {
        font-size: 14px;
    }
    .downloadApp h1 {
        font-size: 28px;
    }


}