body {background-color: #fff;}

.transition, p, ul li i:before, ul li i:after {
  transition: all 0.25s ease-in-out;
}

.flipIn, h1, ul li {
  animation: flipdown 0.5s ease both;
}

.no-select, h2 {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.accordionWrapper{
  width: 100%;
  height: 100%;
  perspective: 900;
  overflow-y: scroll;
  color: rgba(48, 69, 92, 0.8);
}
.innerAccordionWrapper{
  min-height: 0;
  position: relative;
  left: 50%;
  margin: 90px 0;
  transform: translate(-50%, 0);
  box-shadow: 0 10px 0 0 #005950 inset;
  background-color: #ffffff;
  max-width: 1450px;
  padding: 30px;
}
@media (max-width: 550px) {
  .innerAccordionWrapper {
    box-sizing: border-box;
    transform: translate(0, 0);
    max-width: 100%;
    min-height: 100%;
    margin: 0;
    left: 0;
  }
}

.accordionWrapper .innerAccordionWrapper p {
  text-align: center;
  font-size: 17px;
  line-height: 26px;
  letter-spacing: 1px;
  position: relative;
  overflow: hidden;
  max-height: 800px;
  opacity: 1;
  transform: translate(0, 0);
  margin-top: 14px;
  z-index: 2;
}
.accordionWrapper .innerAccordionWrapper h2 {
  text-align: center;
  padding-bottom: 10px;
}


ul {
  list-style: none;
  perspective: 900;
  padding: 0;
  margin: 0;
}
ul li {
  position: relative;
  padding: 0;
  margin: 0;
  padding-bottom: 4px;
  padding-top: 18px;
  border-top: 1px dotted #dce7eb;
}
ul li:nth-of-type(1) {
  animation-delay: 0.5s;
}
ul li:nth-of-type(2) {
  animation-delay: 0.75s;
}
ul li:nth-of-type(3) {
  animation-delay: 1s;
}
ul li:last-of-type {
  padding-bottom: 0;
}
ul li i {
  position: absolute;
  transform: translate(-6px, 0);
  margin-top: 16px;
  right: 0;
}
ul li i:before, ul li i:after {
  content: "";
  position: absolute;
  background-color: #ff6873;
  width: 3px;
  height: 9px;
}
ul li i:before {
  transform: translate(-2px, 0) rotate(45deg);
}
ul li i:after {
  transform: translate(2px, 0) rotate(-45deg);
}
ul li input[type=checkbox] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
}
ul li input[type=checkbox]:checked ~ p {
  margin-top: 0;
  max-height: 0;
  opacity: 0;
  transform: translate(0, 50%);
}
ul li input[type=checkbox]:checked ~ i:before {
  transform: translate(2px, 0) rotate(45deg);
}
ul li input[type=checkbox]:checked ~ i:after {
  transform: translate(-2px, 0) rotate(-45deg);
}

@keyframes flipdown {
  0% {
    opacity: 0;
    transform-origin: top center;
    transform: rotateX(-90deg);
  }
  5% {
    opacity: 1;
  }
  80% {
    transform: rotateX(8deg);
  }
  83% {
    transform: rotateX(6deg);
  }
  92% {
    transform: rotateX(-3deg);
  }
  100% {
    transform-origin: top center;
    transform: rotateX(0deg);
  }
}


/*Page start*/

.clear { clear: both;}

.bunningsLogo{
    padding-bottom: 20px;
    max-width: 190px;
}
.heroHowContainer {
    margin: 0;
    position: relative;
    background: url(../images/bunningsHero.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    align-items: center;
    top: 0;
}
.heroHowContainer .greyWithOpacity {
    position: absolute;
    background-color: #3C465A;
    width: 100%;
    height: 100%;
    opacity: 0.8;
}
.heroHowContainer .heroInfo {
    position: relative;
    color: #fff;
    padding-top: 70px;
}
.heroHowContainer .heroInfo h1 {
    font-size: 36px;
    font-weight: 600;
    line-height: 40px;
}
.heroHowContainer .heroInfo p {
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    max-width: 570px;
    margin-top: 34px;
}

.intrigued {
    background-color: #F5F6F7;
    margin-top: 0px;
    padding: 80px 0;
}
.intrigued h1 {
    color: #3C465A;
    font-size: 32px;
    font-weight: 600;
    line-height: 44px;
    text-align: center;
    padding: 0 25px 20px;
}
.intrigued p {
    max-width: 1240px;
    margin: 0 auto;
    text-align: center;
    padding: 0 50px;
}
.howItWorks {
    padding: 80px 0;
    margin: 0 auto;
}
.howItWorks .list-group  {
    padding-left: 10px;
    padding-top: 50px;
    max-width: 420px;
    text-align: left;
}
.howItWorks .list-group .list-group-item{
    border:none;
    border-left:3px solid #ffe5b4;
    box-sizing:border-box;
    border-radius:0;
    counter-increment: step-counter;
    padding-left:20px;
    padding-right:0px;
    padding-bottom:50px;
    padding-top:0px;
}
.howItWorks .list-group .list-group-item.active{
    background-color:transparent;
    color:inherit;
}
.howItWorks .list-group .list-group-item:last-child{
    border-left:3px solid transparent;
    padding-bottom:0;
}
.howItWorks .list-group .list-group-item::before {
    /* border-radius: 50%; */
    background-color:#FFDAB9 !important;
    color:#FFDAB9 !important;
    content: counter(step-counter);
    display:inline-block;
    float:left;
    height:25px;
    line-height:25px;
    margin-left:-35px;
    text-align:center;
    width:25px;
}
.howItWorks .list-group .list-group-item span,
.howItWorks .list-group .list-group-item a{
    display:block;
    overflow:hidden;
    padding-top:2px;
}
/*Active/ Completed States*/
.howItWorks .list-group .list-group-item.active::before{
    background-color:black;
    color:#fff;
}
.howItWorks .list-group .list-group-item.completed{
    border-left:1px solid black;
}
.howItWorks .list-group .list-group-item.completed::before{
    background-color:black;
    color:#fff;
}
.howItWorks .list-group .list-group-item.completed:last-child{
    border-left:1px solid transparent;
}

.howItWorks .col-2, .everyStep .col-2 {
    width: 50%;
    float: left;
    box-sizing: border-box;
    text-align: center;
}
.howItWorks .col-2 img {
    width: calc(100% - 30px);
    max-width: 420px;
    margin: 0 auto;
}

.everyStep {
    padding: 80px 50px;
    margin: 0 auto;
    background-color: #F4F7FF;
}
.everyStep table {
    text-align: center;
    margin: 0 auto;
}
.everyStep table td {
    width: 150px;
    margin: 0;
    padding: 0;
}
.everyStep table img {
    height: 80px;
    display: block;
    margin: 0 auto 14px;
}
.everyStep .everyStepContent {
    text-align: left;
}
.everyStep .everyStepContent h1 {
    margin-bottom: 20px;
}
.everyStep .everyStepContent p {
    max-width: 570px;
}

.everyStep table img.pullLeft {
    margin-left: 30px
}
.everyStep table img.pullRight {
    margin-right: 30px
}

.promotions {
    background-color: #fff;
    clear: both;
    padding: 80px 0;
}

.promotions h1 {
    color: #3C465A;
    font-size: 32px;
    font-weight: 600;
    line-height: 44px;
    text-align: center;
    padding: 50px 25px;
}
.promotions .col-3 {
    width: 33%;
    float: left;
    box-sizing: border-box;
    text-align: center;
}
.promotions .col-3 img {
    width: calc(100% - 30px);
    margin: 0 auto;
}

.imageGroupContainer{
    max-width: 1240px;
}
.imageGroup{
    padding-top: 55px;
        content: url(../images/bunningsImageGroup.png);
        width: 100%;
        height: auto;
}


/*Map*/


.btnBox {
    background-color: #2864FF;
    color: #fff;
    text-align: center;
    display: inline-block;
    border-radius: 8px;
    padding: 10px 10px;
    margin-top: 20px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -0.44px;
}

 .btnBox a {
    font-weight: 600;
}

.list-group h1 {
    text-align: left;
}






.howItWorks h1{
    color: #3C465A;
    font-size: 32px;
    font-weight: 600;
    line-height: 44px;
    text-align: center;
    padding: 0 25px 80px;
}

.howItWorks .col-3 {
    width: 33%;
    float: left;
    box-sizing: border-box;
    text-align: center;
}

.howItWorks {
    padding: 80px 0;
    max-width: 1240px;
}

.howItWorks h2 {
    color: #3C465A;
    padding: 15px 0;
    text-align: center;
}

.howItWorks .icon {
    max-width: 60px;
}

.howItWorks .col-3 {
    text-align: center;
}

.howItWorks .col-3 .options {
    max-width: 260px;
    margin: 0 auto;
}

.howItWorks .learnMoreWrapper {text-align: center;padding-top: 60px;padding-bottom: 7px;}
.howItWorks .button {height: 40px;width: 288px;border: 2px solid #40354E;border-radius: 4px;padding: 5px 95px;font-weight: 600;}

.downloadApp {
    background: url(../images/bunningsInterior.png);
    margin: 0;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    align-items: center;
    top: 0;
    color: #fff;
    padding: 80px 30px;
    text-align: center;
    height: 500px;
}

.downloadApp h1 {
    color: #38465B;
    font-size: 32px;
    font-weight: 600;
    line-height: 44px;
    text-align: center;
}

.downloadApp p {
    max-width: 570px;
    color: #38465B;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    text-align: center;
    margin: 25px auto 20px;
}

.kitchens {
    background: url(../images/bunningsKitchen.png);
    margin: 0;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    align-items: center;
    top: 0;
    color: #fff;
    padding: 80px 30px;
    text-align: center;
    height: auto;
}

.kitchens h1 {
    color: #38465B;
    font-size: 32px;
    font-weight: 600;
    line-height: 44px;
    text-align: center;
}

.kitchens p {
    max-width: 570px;
    color: #38465B;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    text-align: center;
    margin: 25px auto 20px;
}

.downloadApp .apple {
    height: 40px;
    width: 135px;
}
.downloadApp .android {
    height: 40px;
    width: 134.63px;
}

.downloadApp .apple {
    height: 40px;
    width: 135px;
}
.downloadApp .android {
    height: 40px;
    width: 134.63px;
}
.whiteLowOp{
  background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    margin: auto;
    padding-top: 65px;
    padding-bottom: 65px;
    max-width: 800px;
    overflow: hidden;
}






@media (max-width: 980px) {

    .bodyContainer{
        padding: 0 20px;
    }

    .heroHowContainer .heroInfo {
    padding-top: 20px;
    padding-left: 0;
    padding-right: 0;
    }
    .promotions .col-3, .howItWorks .col-3 {
        width: 100%;
        padding-bottom: 20px;
    }
    .howItWorks .col-3 {
        padding: 0 50px 50px;
    }
.treeBanners, .fourBanners {
    max-width: 1240px;
    margin: 0 auto;
}
.col-3 img {
    width: calc(100% - 30px);
    margin: 0 auto;
}

@media (max-width: 1200px) {
    .heroHowContainer .heroInfo {
        /*padding: 120px 50px 0;*/
    }
    .everyStep {
        padding: 50px;
    }
    .everyStep .col-2 {
        width: 100%;
        padding: 0 0 50px;
    }
}

@media (max-width: 980px) {
    .howItWorks, .promotions {
        padding: 50px;
    }
    .howItWorks .col-2 {
        width: 100%;
        padding: 0 0 50px;
    }
    .heroHowContainer .heroInfo {
        font-size: 14px;
    }
    .promotions .col-3 {
        width: 100%;
        padding-bottom: 20px;
    }
    .downloadApp h1 {
        font-size: 28px;
    }


}