body {background-color: #fff;}
.clear { clear: both;}
.heroHomeContainer {
    position: relative;
    background: url(../images/hero.png);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    height: 75vh;
    align-items: center;
    overflow: auto;
    display: table;
    width: 100%;
}

.heroHomeContainer .greyWithOpacity {
    position: absolute;
    background-color: #3C465A;
    width: 100%;
    height: 100%;
    opacity: 0.8;
}
.heroHomeContainer .heroInfo {
    position: relative;
    max-width: 1540px;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    clear: both;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.heroHomeContainer .btnBox {
    background-color: #2864FF;
    color: #fff;
    text-align: center;
    display: inline-block;
    border-radius: 8px;
    padding: 16px 16px;
    margin-top: 20px;
    font-size: 14px;
    letter-spacing: -0.44px;
}

.heroHomeContainer .btnBox a {
    font-weight: 600;
    padding: 0 8px;
    text-transform: capitalize;
}

.promotions {
    background-color: #fff;
    clear: both;
    padding: 80px 0;
}

.promotions h1, .takeControl h1, .howItWorks h1, .whereCanShop h1, .instagram h1 {
    color: #3C465A;
    font-size: 32px;
    font-weight: 600;
    line-height: 44px;
    text-align: center;
    padding: 0 25px 50px;
}
.promotions .col-3, .howItWorks .col-3 {
    width: 33%;
    float: left;
    box-sizing: border-box;
    text-align: center;
}

.treeBanners, .fourBanners {
    max-width: 1240px;
    margin: 0 auto;
}

.promotions .col-3 img {
    width: calc(100% - 30px);
    margin: 0 auto;
    border-radius: 4px;
}

.takeControl, .whereCanShop {
    background-color: #F4F7FF;
    margin-top: 0px;
    padding: 80px 0;
}
.takeControl p {
    max-width: 1240px;
    margin: 0 auto;
    text-align: center;
    padding: 0 50px;
}

.howItWorks {
    padding: 80px 0;
}

.howItWorks h2 {
    color: #3C465A;
    padding: 15px 0;
}

.howItWorks .icon {
    max-width: 60px;
}

.howItWorks .col-3 {
    text-align: left;
}

.howItWorks .col-3 .options {
    max-width: 260px;
    margin: 0 auto;
}

.howItWorks .col-3 .options p a {
    text-decoration: underline;
}

.howItWorks .learnMoreWrapper {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 7px;
}

.howItWorks .button {
    height: 40px;
    width: 288px;
    border: 2px solid #40354E;
    border-radius: 4px;
    padding: 8px 95px;
    font-weight: 600;
}


.whereCanShop .col-4 {
    width: 25%;
    float: left;
    box-sizing: border-box;
    text-align: center;
}
.whereCanShop .marketToProvide {
    width: calc(100% - 30px);
    background-color: rgba(255,255,255,0);
    margin: 0 auto 30px;
    max-height: 180px;
    overflow: hidden;
    border-radius: 10px;
}
.whereCanShop .marketToProvide img {
    width: 100%;
}
.whereCanShop .marketToProvide img.small-img {
    width: 120%;
}
.whereCanShop .marketToProvide h3 {
    color: white;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    text-align: left;
    -webkit-text-stroke: 0.2px #fff;
    align-self: flex-end;
}

.downloadApp {
    background-color: #3C465A;
    color: #fff;
    padding: 80px 30px;
    text-align: center;
}

.downloadApp h1 {
    color: #FFFFFF;
    font-size: 32px;
    font-weight: 600;
    line-height: 44px;
    text-align: center;
}

.downloadApp p {
    max-width: 570px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    text-align: center;
    margin: 25px auto 20px;
}

.downloadApp .apple {
    height: 40px;
    width: 135px;
}
.downloadApp .android {
    height: 40px;
    width: 134.63px;
}

.instagram, .noInstagram {
    max-width: 1240px;
    text-align: left;
    margin: 0 auto;
    padding: 80px 0;
}

.instagram h1 {
    text-align: left;
}
.instagramWrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    height: 261px;
    max-width: 1240px;
    width: calc(100% - 50px);
    margin: 0 auto;
}

#instagram .ig-tile {
    height: 240px;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
    margin-right: 20px;
    display: inline-block;
}
.byCategory .marketToProvide {
    display: flex;
    height: 120px;
    border-radius: 4px;
    background-color: rgba(255,255,255,0);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
    padding: 10px;
    margin: 0 16px 30px;
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
    transition: box-shadow .2s;
}

.marketToProvide.cat-1{
    background-image: url(../images/categoryPics/Health.jpg);
}
.marketToProvide.cat-2{
    background-image: url(../images/categoryPics/Fashion.jpg);
}
.marketToProvide.cat-3{
    /*background-image: url(../images/categoryPics/Health.jpg);*/
}
.marketToProvide.cat-4{
    background-image: url(../images/categoryPics/Beauty.jpg);
}
.marketToProvide.cat-5{
    background-image: url(../images/categoryPics/Trades-and-Services.jpg);
}
.marketToProvide.cat-6{
    background-image: url(../images/categoryPics/Auto.jpg);
}
.marketToProvide.cat-7{
    background-image: url(../images/categoryPics/Home-and-Garden.jpg);
}
.marketToProvide.cat-8{
    background-image: url(../images/categoryPics/Dental.jpg);
}
.marketToProvide.cat-9{
    background-image: url(../images/categoryPics/Sports-Outdoors.jpg);
}


.byCategory .marketToProvide:hover,
.brand:hover {
    cursor: pointer;
    box-shadow: 1px 2px 5px 0 rgba(0,0,0,0.5);
}


@media (max-width: 1200px) {
    .heroHomeContainer .heroInfo {
        padding: 120px 50px 0;
    }

    .whereCanShop .col-4 {
        width: 33%;
    }

    .instagramWrapper {
        height: 157px;
    }



    #instagram .ig-tile {
        height: 124px;
    }
}

@media (max-width: 980px) {
    .promotions .col-3, .howItWorks .col-3 {
        width: 100%;
        padding-bottom: 20px;
    }
    .howItWorks .col-3 {
        padding: 0 50px 50px;
    }

    .heroHomeContainer .heroInfo {
        font-size: 14px;
    }
}

@media (max-width: 850px) {
    .whereCanShop .col-4 {
        width: 50%;
    }

    .downloadApp h1 {
        font-size: 28px;
    }
}