
body {
    background-color: black;
}

/*form styles*/
#msform {
    text-align: center;
    position: relative;
    height: 935px;
}
#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;

    /*stacking fieldsets above each other*/
    position: absolute;
    text-align: left;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
    display: none;
}
/*inputs*/
#msform input[type="checkbox"] {
    float: left;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 10px 20px;
}
#msform label {
    float: left;
    margin-top: 7px;
}

#msform input, #msform textarea, #msform select {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    font-family: Poppins;
    font-size: 14px;
}
/*buttons*/
#msform .action-button {
    width: 100px;
    background: #3C465A;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 50px 5px 10px;
}
#msform .action-button:hover, #msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #3C465A;
}
/*headings*/
.fs-title {
    font-size: 15px;
    color: #2C3E50;
    margin-bottom: 10px;
    text-align: left;
}
.fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
    width: 400px;
}
#progressbar li {
    list-style-type: none;
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    float: left;
    margin-right: 20%;
    position: relative;
    margin-top: 20px;
}
#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 30px;
    line-height: 25px;
    display: block;
    font-size: 14px;
    color: #333;
    background: white;
    border-radius: 3px;
    margin: 0 auto 5px auto;
    border: 2px solid #3C465A;
}
/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 80px;
    height: 2px;
    background: #3C465A;
    position: absolute;
    left: -80px;
    top: 13px;
    z-index: 0; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before, #progressbar li.active:after {
    background: #3C465A;
    color: white;
}

.require.invalid {
    border-color: #e80000 !important;}