@import url('https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,600,700,700i,800,900');

* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
html {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

.logo {
  width: 100px;
  font-weight: 700;
  font-size: 18px;
}

main {
  padding: 0 8px;
}

button {
  -webkit-appearance: none;
  outline: none;
  border: none;
}

a {
  text-decoration: none;
}

.btn-primary {
  font-size: 20px;
  line-height: normal;
  font-weight: 600;
  text-align: center;
  color: #000;
  width: 100%;
  max-width: 398px;
  min-width: 250px;
  height: 67.53px;
  background-color: #9bffbe;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
}

.btn-primary:hover {
  opacity: 0.9;
}

.btn-primary:active {
  opacity: 0.7;
}

/*...introduction...*/
.introduction-wrap {
  position: relative;
  background: url('../images/business_bg.jpg') center center no-repeat;
  background-size: cover;
  padding: 153px 0;
}

.introduction-wrap::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.1);
}

.introduction-desc {
  width: 50%;
  max-width: 812px;
  min-width: 800px;
  font-weight: 800;
  font-size: 70px;
  text-align: left;
  line-height: 85px;
  color: #fff;
  letter-spacing: 3px;
}
/*...end introduction...*/

/*...whyOpenPay...*/
.whyOpenPay-wrap {
  background-color: #f0f0f0;
  padding: 50px 0;
  position: relative;
  overflow: hidden;
}

.whyOpenPay-wrap::after {
  content: '';
  background: url(../images/big-o.svg) no-repeat;
  background-size: cover;
  width: 583px;
  height: 608px;
  position: absolute;
  bottom: -245px;
  right: -45px;
}

.whyOpenPay {
  max-width: 1088px;
  padding: 0 15px 30px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  color: #3B455A;
  text-align: center;
}

.whyOpenPay-title {
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 30px;
}

.whyOpenPay__text {
  max-width: 650px;
  font-size: 20px;
  font-weight: 300;
  line-height: 35px;
  margin: 0 auto 25px;
}
.whyOpenPay__text:last-child {
  max-width: initial;
  margin-bottom: 0;
}

.whyOpenPay-btn {
  padding: 20px 0;
  max-width: 260px;
  margin: 0 auto;
  display: block;
  z-index: 1;
  position: relative;
}
/*...end whyOpenPay...*/

/*...whatCanWeDo...*/
.whatCanWeDo-wrap {
  display: flex;
  justify-content: center;
  align-items: stretch;
  min-height: 100%;
}

.whatCanWeDo-section {
  position: relative;
  width: 50%;
  height: 1618px;
  min-width: 475px;
  padding: 140px 0 80px;
  overflow: hidden;
  flex: 1;
  color: #fff;
  text-align: center;
}
.whatCanWeDo-section_1 {
  background-color: #3c465a;
}
.whatCanWeDo-section_1 .whatCanWeDo-title {
  width: 59%;
  min-width: 300px;
}
.whatCanWeDo-section_2 {
  background-color: #179ecf;
}
.whatCanWeDo-section_2 .whatCanWeDo-title {
  width: 85%;
  min-width: 590px;
}

.whatCanWeDo-title {
  margin: 0 auto 125px;
  font-size: 35px;
  font-weight: 600;
  line-height: 40px;
}

.whatCanWeDo-item {
  position: absolute;
  max-width: 674px;
  margin-left: -337px;
  margin-bottom: 102px;
}
.whatCanWeDo-item_1 {
  top: 19%;
  left: 50%;
}
.whatCanWeDo-item_2 {
  top: 43%;
  left: 50%;
}
.whatCanWeDo-item_3 {
  top: 69%;
  left: 50%;
}
.whatCanWeDo-item_4 {
  top: 19%;
  left: 50%;
}
.whatCanWeDo-item_5 {
  top: 43%;
  left: 50%;
}
.whatCanWeDo-item_6 {
  top: 72%;
  left: 50%;
}
.whatCanWeDo-item .whatCanWeDo-item__icon {
  max-width: 96px;
  display: block;
  margin: 0 auto 13px;
}
.whatCanWeDo-item .whatCanWeDo-item-title {
  font-size: 25px;
  width: 95%;
  margin: 0 auto 7px;
}
.whatCanWeDo-item .whatCanWeDo-item-paragraph {
  font-size: 20px;
  font-weight: 300;
  width: 91%;
  margin: 0 auto;
}
/*...end whatCanWeDo...*/

/*...readyToChat...*/
.readyToChat-wrap {
  padding: 175px 0 145px;
  background-color: #f0f0f0;
}

.readyToChat {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.readyToChat-title {
  font-size: 35px;
  font-weight: 600;
  color: #3C465A;
  margin: 0 97px 20px 0;
  white-space: nowrap;
}

.readyToChat-btn {
  padding: 20px 0;
}
/*...end readyToChat...*/

@media screen and (max-width: 1260px) {
  .whatCanWeDo-item {
    max-width: 500px;
    margin-left: -225px;
  }
  .whatCanWeDo-section_2 .whatCanWeDo-title {
    width: 96%;
    min-width: 0;
  }
}
@media screen and (max-width: 1024px) {
  .whatCanWeDo-item {
    max-width: 350px;
    margin-left: -175px;
  }
}
@media screen and (max-width: 1025px) {
  .whatCanWeDo-section {
    height: 1673px;
  }
  .whatCanWeDo-item_3 {
    top: 71%;
  }
  .whatCanWeDo-item_6 {
    top: 73%;
  }
}

@media screen and (max-width: 960px) {
  .whatCanWeDo-wrap {
    flex-wrap: wrap;
  }
  .whatCanWeDo-section {
    width: 100%;
  }
  .whatCanWeDo-section {
    height: auto;
  }
  .whatCanWeDo-item {
    position: static;
    max-width: 85%;
    margin: 0 auto 71px;
  }
  .whatCanWeDo-section_2 .whatCanWeDo-title {
    width: 85%;
  }
}

@media screen and (max-width: 768px) {
  .introduction-desc {
    width: 100%;
    min-width: 200px;
    text-align: center;
    font-size: 45px;
    line-height: 55px;
  }

  .readyToChat {
    flex-direction: column;
    align-items: center;
  }

  .readyToChat-title {
    margin-right: 0;
  }
}

@media screen and (max-width: 500px) {
  .whatCanWeDo-section {
    min-width: 310px;
  }
  .whatCanWeDo-section_1 .whatCanWeDo-title,
  .whatCanWeDo-section_2 .whatCanWeDo-title {
    width: 90%;
    min-width: 100%;
  }
  .whatCanWeDo-item .whatCanWeDo-item-title {
    width: 85%;
  }
  .whatCanWeDo-item .whatCanWeDo-item-paragraph {
    font-weight: 300;
    width: 85%;
  }
}

@media screen and (max-width: 400px) {
  .whatCanWeDo-item {
    max-width: 95%;
  }
}
