@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,800");
@import "./nav.css?20190516";

.btn-primary {
  font-size: 20px;
  line-height: normal;
  font-weight: 600;
  text-align: center;
  color: #000;
  width: 100%;
  max-width: 398px;
  min-width: 250px;
  height: 67.53px;
  background-color: #9bffbe;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  transition: all 0.1s;
}

.btn-primary:hover {
  background: rgba(155, 255, 190, 0.8);
  color: rgba(0, 0, 0, 0.7);
}

.btn-primary:active {
  bottom: -1px;
  position: relative;
}

/*...introduction...*/
.introduction-wrap {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../images/business.jpg);
  background-image: -webkit-image-set(
    url(../images/business.jpg) 1x,
    url(../images/business.jpg) 2x
  );
  background-image: image-set(
    url(../images/business.jpg) 1x,
    url(../images/business.jpg) 2x
  );
}

.introduction-wrap::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

.introduction-desc {
  font-weight: 800;
  font-size: 50px;
  line-height: 70px;
  color: #fff;
  letter-spacing: 3px;
  padding: 200px 140px
}
 
/*...end introduction...*/

/*...whyOpenPay...*/
.whyOpenPay-wrap {
  background-color: #f0f0f0;
  padding: 50px 0;
  position: relative;
  overflow: hidden;
}

.whyOpenPay-wrap::after {
  content: "";
  background: url(../images/signup-bg-logo.svg) no-repeat;
  background-size: cover;
  width: 583px;
  height: 610px;
  position: absolute;
  bottom: -275px;
  right: -45px;
}

.whyOpenPay {
  /* max-width: 1088px; */
  margin: 0 auto 30px;
  position: relative;
  z-index: 1;
  color: #3b455a;
  text-align: center;
}

.whyOpenPay-title {
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 30px;
}

.whyOpenPay__text {
  max-width: 50vw;
  font-size: 20px;
  font-weight: 300;
  line-height: 35px;
  margin: 0 auto 25px;
}

.whyOpenPay-btn {
  padding: 20px 0;
  max-width: 260px;
  margin: 0 auto;
  display: block;
  z-index: 1;
  position: relative;
}
/*...end whyOpenPay...*/

/*...whatCanWeDo...*/
.whatCanWeDo-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.whatCanWeDo-section {
  color: #fff;
  text-align: center;
  padding: 140px 15px 100px;
  width: 100%;
}

.whatCanWeDo-section_1 {
  background-color: #3c465a;
}

.whatCanWeDo-section_2 {
  background-color: #179ecf;
}

.whatCanWeDo-title {
  font-weight: 600;
  font-size: 35px;
  line-height: 40px;
  padding-bottom: 125px;
}

.whatCanWeDo-title--row {
  padding-bottom: 85px;
}

.whatCanWeDo-item {
  max-width: 674px;
  margin: 0 auto;
  padding-bottom: 80px;
}

.whatCanWeDo-item:last-child {
  padding-bottom: 0;
}

.whatCanWeDo-item--last {
  padding-top: 50px;
}

.whatCanWeDo-item-title {
  font-weight: 600;
  font-size: 25px;
  line-height: 41px;
  padding: 12px 0 20px;
}

.whatCanWeDo-item-paragraph {
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  min-height: 180px;
}

@media (min-width: 1280px) and (max-width: 1650px) {
  .whatCanWeDo-item-paragraph {
    max-width: 500px;
    margin: 0 auto;
  }
}

@media (min-width: 961px) and (max-width: 1280px) {
  .whatCanWeDo-item-paragraph {
    max-width: 430px;
    margin: 0 auto;
  }
}

/*...end whatCanWeDo...*/

/*...readyToChat...*/
.readyToChat-wrap {
  padding: 175px 0 145px;
  background-color: #f0f0f0;
}

.readyToChat {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.readyToChat-title {
  font-size: 35px;
  font-weight: 600;
  color: #3c465a;
  margin: 0 97px 20px 0;
  white-space: nowrap;
}

.readyToChat-btn {
  padding: 20px 0;
}
/*...end readyToChat...*/

@media screen and (max-width: 960px) {
  .whatCanWeDo-wrap {
    grid-template-columns: 1fr;
  }

  .whatCanWeDo-section {
    padding: 100px 15px 100px;
  }

  .whatCanWeDo-title {
    padding-bottom: 70px;
  }

  .whatCanWeDo-item {
    padding-bottom: 50px;
  }

  .whatCanWeDo-item-paragraph {
    min-height: initial;
  }
  .introduction-desc {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .introduction-desc {
    width: 100%;
    min-width: 200px;
    font-size: 45px;
    line-height: 55px;
    padding: 15vh 30px;
  }

  .whatCanWeDo-wrap {
    grid-template-columns: 1fr;
  }

  .readyToChat {
    flex-direction: column;
    align-items: center;
  }

  .readyToChat-title {
    margin-right: 0;
  }
}

@media screen and (max-width: 578px) {
  .whyOpenPay__text {
    max-width: initial;
  }
}
