html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline; }

html, body {
    height: 100%;
    width: 100%; }

ol, ul {
    list-style: none; }

* {
    margin: 0;
    padding: 0;
    outline: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

a, a:hover {
    text-decoration: none; }

@font-face {
    font-family: 'PoppinsLight';
    src: url("../fonts/light/PoppinsLight.eot");
    src: url("../fonts/light/PoppinsLight.eot") format("embedded-opentype"), url("../fonts/light/PoppinsLight.woff2") format("woff2"), url("../fonts/light/PoppinsLight.woff") format("woff"), url("../fonts/light/PoppinsLight.ttf") format("truetype"), url("../fonts/light/PoppinsLight.svg#PoppinsLight") format("svg"); }

@font-face {
    font-family: 'PoppinsLightItalic';
    src: url("../fonts/lightItalic/PoppinsLightItalic.eot");
    src: url("../fonts/lightItalic/PoppinsLightItalic.eot") format("embedded-opentype"), url("../fonts/lightItalic/PoppinsLightItalic.woff2") format("woff2"), url("../fonts/lightItalic/PoppinsLightItalic.woff") format("woff"), url("../fonts/lightItalic/PoppinsLightItalic.ttf") format("truetype"), url("../fonts/lightItalic/PoppinsLightItalic.svg#PoppinsLightItalic") format("svg"); }

@font-face {
    font-family: 'PoppinsMedium';
    src: url("../fonts/medium/PoppinsMedium.eot");
    src: url("../fonts/medium/PoppinsMedium.eot") format("embedded-opentype"), url("../fonts/medium/PoppinsMedium.woff2") format("woff2"), url("../fonts/medium/PoppinsMedium.woff") format("woff"), url("../fonts/medium/PoppinsMedium.ttf") format("truetype"), url("../fonts/medium/PoppinsMedium.svg#PoppinsMedium") format("svg"); }

@font-face {
    font-family: 'PoppinsSemiBold';
    src: url("../fonts/semiBold/PoppinsSemiBold.eot");
    src: url("../fonts/semiBold/PoppinsSemiBold.eot") format("embedded-opentype"), url("../fonts/semiBold/PoppinsSemiBold.woff2") format("woff2"), url("../fonts/semiBold/PoppinsSemiBold.woff") format("woff"), url("../fonts/semiBold/PoppinsSemiBold.ttf") format("truetype"), url("../fonts/semiBold/PoppinsSemiBold.svg#PoppinsSemiBold") format("svg"); }

.title-h1 {
    font-size: 57px;
    font-family: "PoppinsSemiBold", sans-serif;
    line-height: 56px;
    font-weight: 600;
    text-align: center;
    color: #3B455A; }

.title-h2 {
    font-size: 60px;
    font-family: "PoppinsSemiBold", sans-serif;
    line-height: 70px;
    font-weight: 600;
    text-align: center;
    color: #FFFFFF; }

.title-h3 {
    font-size: 39px;
    font-family: "PoppinsSemiBold", sans-serif;
    line-height: 63px;
    font-weight: 600;
    text-align: left;
    color: #3C465A; }

.title-h4 {
    font-size: 35px;
    font-family: "PoppinsSemiBold", sans-serif;
    line-height: 57px;
    font-weight: 600;
    text-align: center;
    color: #FFFFFF; }

.paragraph-1 {
    font-size: 40px;
    font-family: "PoppinsLightItalic", sans-serif;
    line-height: 56px;
    font-weight: 300;
    text-align: center;
    color: #3B455A; }

.paragraph-2 {
    font-size: 25px;
    font-family: "PoppinsLight", sans-serif;
    line-height: 30px;
    font-weight: 300;
    text-align: center;
    color: #FFFFFF; }

.paragraph-3 {
    font-size: 18px;
    font-family: "PoppinsSemiBold", sans-serif;
    line-height: 29px;
    font-weight: 600;
    text-align: center;
    color: #FFFFFF; }

.paragraph-4 {
    font-size: 14px;
    font-family: "PoppinsSemiBold", sans-serif;
    line-height: 23px;
    font-weight: 600;
    text-align: left;
    color: #3B455A; }

.btn-primary {
    font-size: 20px;
    font-family: "PoppinsSemiBold", sans-serif;
    line-height: normal;
    font-weight: 600;
    text-align: center;
    color: #000000;
    width: 100%;
    max-width: 398px;
    min-width: 250px;
    height: 67.53px;
    background-color: #9BFFBE;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    border: none;
    cursor: pointer; }
.btn-primary:hover {
    opacity: .9; }
.btn-primary:active {
    opacity: .7; }

.block-wap {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto; }

.block-child-wrap {
    width: 100%;
    max-width: 1640px;
    padding: 0 15px;
    margin: 0 auto; }

.header, .header-nav, .header-nav .nav-list, .readyToChat, .nav-footer .footer-nav-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }

/*...header...*/
.header-wrap {
    padding: 39px 0 34px; }

.trigger-menu {
    display: none;
    width: 35px;
    height: 26px;
    cursor: pointer; }
.trigger-menu .trigger-menu__line, .trigger-menu .trigger-menu__line:before, .trigger-menu .trigger-menu__line:after {
    height: 4px;
    width: 100%;
    background-color: #3B455A;
    position: relative; }
.trigger-menu .trigger-menu__line:before {
    content: '';
    display: block;
    position: absolute;
    top: 10px; }
.trigger-menu .trigger-menu__line:after {
    content: '';
    display: block;
    position: absolute;
    top: 20px; }

.header-nav {
    width: 49.085365853658536585365853658537%;
    min-width: 503px; }
.header-nav_disable {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
.header-nav .nav-list {
    width: 454px; }
.header-nav .nav-list li {
    margin-right: 9.3167701863354037267080745341615%; }
.header-nav .nav-list li a {
    white-space: nowrap; }
.header-nav .header__log-in {
    display: block;
    white-space: nowrap;
    text-align: center; }

.logo-link .logo {
    width: 145px;
    height: 42px; }

/*...end header...*/
/*...introduction...*/
.introduction-wrap {
    background: url("../images/Mask.png") center center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    padding: 244px 0; }

/*...end introduction...*/
/*...whyOpenPay...*/
.whyOpenPay-wrap {
    background-color: #F0F0F0;
    padding: 87px 0 129px;
    position: relative;
    overflow: hidden; }
.whyOpenPay-wrap .whyOpenPay-bg {
    position: absolute;
    width: 592px;
    height: 697px;
    top: 140px;
    right: -25px;
    z-index: 0; }

.whyOpenPay-title {
    margin-bottom: 42px; }

/*...end whyOpenPay...*/
/*...whatCanWeDo...*/
.whatCanWeDo-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    min-height: 100%; }

.whatCanWeDo-section {
    width: 50%;
    min-width: 406px;
    padding: 68px 0 115px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1; }
.whatCanWeDo-section_1 {
    background-color: #3C465A; }
.whatCanWeDo-section_1 .whatCanWeDo-title {
    width: 59%; }
.whatCanWeDo-section_2 {
    background-color: #179ECF; }
.whatCanWeDo-section_2 .whatCanWeDo-title {
    width: 85%; }

.whatCanWeDo-title {
    margin: 0 auto 71px; }

.whatCanWeDo-item {
    margin-bottom: 102px; }
.whatCanWeDo-item .whatCanWeDo-item__icon {
    display: block;
    margin: 0 auto 13px; }
.whatCanWeDo-item .whatCanWeDo-item-title {
    margin: 0 auto 7px; }
.whatCanWeDo-item .whatCanWeDo-item-paragraph {
    width: 67%;
    margin: 0 auto; }

.whatCanWeDo-item:last-child {
    margin-bottom: 0; }

/*...end whatCanWeDo...*/
/*...readyToChat...*/
.readyToChat-wrap {
    padding: 150px 0 130px;
    background-color: #F0F0F0; }

.readyToChat {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

.readyToChat-title {
    margin-right: 5.9146341463414634146341463414634%;
    margin-bottom: 20px;
    white-space: nowrap; }

.readyToChat-btn {
    margin-bottom: 20px; }

/*...end readyToChat...*/
/*...footer...*/
.footer-wrap {
    background-color: #3C465A;
    padding: 97px 0 36px; }

.nav-footer {
    width: 56.829268292682926829268292682927%;
    margin: 0 auto 83px; }
.nav-footer .footer-nav-list {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
.nav-footer .footer-nav-list li {
    margin-right: 15px; }
.nav-footer .footer-nav-list li:last-child {
    margin-right: 0; }
.nav-footer .footer-nav-list li a {
    white-space: nowrap; }

.footer-logo {
    width: 212px;
    height: 40px;
    display: block;
    margin: 0 auto 32px; }

.copyright {
    font-family: 'PoppinsMedium';
    font-weight: 500; }

/*...end footer...*/
@media screen and (max-width: 1366px) {
    .title-h1 {
        font-size: 40px; }
    .title-h2 {
        font-size: 45px; }
    .title-h4 {
        font-size: 28px;
        line-height: 43px; }
    .paragraph-1 {
        font-size: 26px;
        line-height: 43px; }
    .paragraph-2 {
        font-size: 20px; }
    .paragraph-3 {
        font-size: 14px; }
    .btn-primary {
        height: 50px; } }

@media screen and (max-width: 920px) {
    .work-list {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center; } }

@media screen and (max-width: 830px) {
    .whatCanWeDo-wrap {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .whatCanWeDo-section {
        width: 100%; } }

@media screen and (max-width: 768px) {
    .header {
        -webkit-box-orient: vertical !important;
        -webkit-box-direction: normal !important;
        -webkit-flex-direction: column !important;
        -ms-flex-direction: column !important;
        flex-direction: column !important; }
    .header-logo-and-trigger {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        width: 100%; }
    .header-logo-and-trigger .trigger-menu {
        display: block; }
    .header-nav_disable {
        display: none; }
    .header-nav {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-top: 30px; }
    .header-nav .nav-list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-right: 0;
        margin-bottom: 20px; }
    .header-nav .nav-list li {
        margin: 0 0 10px; }
    .nav-footer .footer-nav-list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column; } }

@media screen and (max-width: 765px) {
    .welcome-wrap {
        padding: 140px 0; } }

@media screen and (max-width: 425px) {
    .whatCanWeDo-section {
        min-width: 310px; }
    .readyToChat-title {
        margin-right: 0; }
    .whatCanWeDo-section_1 .whatCanWeDo-title,
    .whatCanWeDo-section_2 .whatCanWeDo-title {
        width: 90%; }
    .whatCanWeDo-item .whatCanWeDo-item-title {
        width: 85%; }
    .whatCanWeDo-item .whatCanWeDo-item-paragraph {
        width: 85%; } }
