@import url('https://fonts.googleapis.com/css?family=Poppins:300,500,600,700,800');
@import './nav.css';

.hero {
  background: url(../images/contact/contact-bg.jpg) center no-repeat;
  background-size: cover;
  width: 100%;
}

.hero__title {
  color: #fff;
  font-weight: 800;
  font-size: 70px;
  padding: 180px 0 235px;
}

.contact__wrapper {
  max-width: 1089px;
  padding: 90px 15px 100px;
  margin: 0 auto;
  text-align: center;
}

.contact__title {
  font-weight: 700;
  font-size: 35px;
  padding-bottom: 50px;
}

.contact__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 115px;
}

.contact__mail {
  justify-self: end;
}

.contact__phone {
  justify-self: start;
}

.contact__img--mail {
  padding-top: 10px;
}

.contact__subtitle {
  font-weight: 600;
  font-size: 30px;
}

.contact__subtitle--mail {
  padding-top: 8px;
}

.contact__text {
  font-weight: 300;
  font-size: 20px;
  line-height: 25px;
  max-width: 260px;
  margin: 0 auto;
  padding-bottom: 30px;
}

.contact__link {
  font-size: 17px;
  border: 3px solid #19b8e9;
  border-radius: 10px;
  width: 260px;
  padding: 10px 0;
  display: block;
}

.contact__link:hover {
  border-color: rgba(25, 184, 233, .8);
  color: rgba(0, 0, 0, .7);
}

@media screen and (max-width: 768px) {
  .hero__title {
    font-size: 50px;
    padding: 150px 0 205px;
  }

  .contact__container {
    grid-template-columns: 1fr;
    grid-row-gap: 50px;
  }

  .contact__mail,
  .contact__phone {
    justify-self: center;
  }
}
