@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800&display=swap");
@import "./nav.css?20190517";

.hero {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/contact/contact.jpg);
  background-image: -webkit-image-set(
    url(../images/contact/contact.jpg) 1x,
    url(../images/contact/contact@2x.jpg) 2x
  );
  background-image: image-set(
    url(../images/contact/contact.jpg) 1x,
    url(../images/contact/contact@2x.jpg) 2x
  );
  width: 100%;
}

.hero__title {
  color: var(--primary-dark);
  font-weight: var(--extra-bold);
  font-size: var(--h1);
  padding: 200px 140px;
}

.contact__wrapper {
  max-width: 1089px;
  padding: 90px 15px 100px;
  margin: 0 auto;
  text-align: center;
}

.contact__title {
  font-weight: var(--bold);
  font-size: var(--h2);
  padding-bottom: 50px;
}

.contact__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 115px;
}

.contact__mail {
  justify-self: end;
}

.contact__phone {
  justify-self: start;
}

.contact__img--mail {
  padding-top: 10px;
}

.contact__subtitle {
  font-weight: var(--semi-bold);
  font-size: 30px;
}

.contact__subtitle--mail {
  padding-top: 8px;
}

.contact__text {
  font-weight: var(--light);
  font-size: var(--p);
  line-height: 25px;
  max-width: 260px;
  margin: 0 auto;
  padding-bottom: 30px;
}

.contact__media {
  font-size: 20px;
  line-height: 25px;
  margin: 0 auto;
  padding-top: 75px;
}

.contact__media-title {
  font-weight: var(--semi-bold);
  padding-bottom: 20px;
}

.contact__media-link {
  text-decoration: underline;
}

.contact__media-link:hover {
  text-decoration: none;
}

.contact__link {
  font-size: 17px;
  border: 3px solid #19b8e9;
  border-radius: 10px;
  width: 260px;
  padding: 10px 0;
  display: block;
  transition: all 0.1s;
}

.contact__link:hover {
  opacity: var(--opacity);
}

.contact__link:active {
  bottom: -1px;
  position: relative;
}

@media screen and (max-width: 1600px) {
  .hero {
    background-position: center center;
    background-size: cover;
  }
}

@media screen and (max-width: 768px) {
  .contact__media {
    max-width: 300px;
  }

  .hero__title {
    text-align: center;
    padding: 15vh 30px;
  }

  .contact__container {
    grid-template-columns: 1fr;
    grid-row-gap: 50px;
  }

  .contact__mail,
  .contact__phone {
    justify-self: center;
  }
}