@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800&display=swap");
@import "./nav.css?20190517";

.hero__title {
  color: var(--primary-light);
  font-weight: var(--extra-bold);
  font-size: var(--h1);
  padding: 200px 140px;
  background-size: cover;
  background-image: url(../images/faq/faq_bg.jpg);
  background-image: -webkit-image-set(url(../images/faq/faq_bg.jpg) 1x,
      url(../images/faq/faq_bg@2x.jpg) 2x);
  background-image: image-set(url(../images/faq/faq_bg.jpg) 1x,
      url(../images/faq/faq_bg@2x.jpg) 2x);
  width: 100%;
}

.faq__wrapper {
  max-width: 1280px;
  margin: 0 auto;
  text-align: left;
}

.faq-header {
  text-align: center;
  padding: 110px 0 80px;
}

.faq-title {
  font-size: var(--h2);
  margin-bottom: 30px;
}

.faq-descr,
.faq-content {
  font-size: 25px;
}

.faq-section,
.faq-qa {
  margin: 50px 0;
}

.link-list {
  margin-top: 16px;
  list-style: none;
  font-size: 25px;
}

.link-list>li {
  margin: 25px 0;
}

.faq-qa p {
  margin-bottom: 10px;
}

h3 {
  margin-bottom: 10px;
}

.faq__wrapper h1,
h2,
h3,
h4 {
  font-weight: var(--semi-bold);
}

.faq-content {
  padding-bottom: 120px;
}

.faq-link {
  text-decoration: underline;
}

.faq-link:hover {
  text-decoration: none;
}

@media screen and (max-width: 1281px) {
  .faq__wrapper {
    max-width: 75%;
    margin: 0 auto;
    text-align: left;
  }
}

@media screen and (max-width: 768px) {
  .hero__title {
    text-align: center;
    padding: 15vh 30px;
  }
}