@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800&display=swap");
@import "./nav.css?20190517";

.hero__title {
  color: var(--primary-light);
  font-weight: var(--extra-bold);
  font-size: var(--h1);
  padding: 200px 140px;
  background-size: cover;
  background-image: url(../images/faq/faq_bg.jpg);
  background-image: -webkit-image-set(url(../images/faq/faq_bg.jpg) 1x,
      url(../images/faq/faq_bg@2x.jpg) 2x);
  background-image: image-set(url(../images/faq/faq_bg.jpg) 1x,
      url(../images/faq/faq_bg@2x.jpg) 2x);
  width: 100%;
}

.faq__wrapper {
  max-width: 1280px;
  margin: 0 auto;
  text-align: left;
}

.faq-header {
  text-align: center;
  padding: 110px 0 130px;
}

.faq-title {
  font-size: var(--h2);
  font-weight: var(--semi-bold);
  padding-bottom: 35px;
}

.faq-descr {
  font-size: 25px;
}

.link-list {
  padding-top: 65px;
  list-style: none;
  font-size: 25px;
}

.link-list-item {
  padding-bottom: 25px;
}

.link-list-item:last-child {
  padding-bottom: 0;
}

.faq-content,
.faq-qa {
  padding-bottom: 60px;
}

.faq-section-title {
  font-weight: var(--bold);
  font-size: var(--h2);
  padding-bottom: 60px;
}

.faq-qa-title {
  margin-bottom: 10px;
  font-weight: var(--bold);
  font-size: var(--h3);
}

.faq-qa-text {
  margin-bottom: 10px;
  font-size: 25px;
}

.faq-link {
  text-decoration: underline;
}

.faq-link:hover {
  text-decoration: none;
}

@media screen and (max-width: 1281px) {
  .faq__wrapper {
    max-width: 75%;
  }
}

@media screen and (max-width: 768px) {
  .hero__title {
    text-align: center;
    padding: 15vh 30px;
  }

  .faq__wrapper {
    max-width: initial;
    padding: 0 35px;
  }

  .faq-qa-text {
    font-size: 20px;
  }
}