@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800&display=swap");
@import "./nav.css?20190517";



.hero__title {
  color: #000;
  font-weight: 800;
  font-size: 70px;
  padding: 200px 140px;
}

.faq__wrapper {
  max-width: 1089px;
  margin: 100px 140px;
  text-align: left;
}

.faq-section {
  margin: 50px 0;
}

h1, h2 {
  margin-bottom: 30px;
}

.link-list {
  margin-top: 16px;
  list-style: none;
}
.link-list a{
  text-decoration: underline
}
.faq-qa {
  margin: 20px 0;
}


h3 {
  margin-bottom: 10px;
}

.faq__wrapper h1,
h2,
h3,
h4 {
  font-weight: 600;
}

.faq__wrapper p,
a,
i,
li {
  font-weight: 300;
  font-size: 20px;
}

.faq__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 115px;
}


.faq__subtitle--mail {
  padding-top: 8px;
}


@media screen and (max-width: 1600px) {
  .hero {
    background-position: center center;
    background-size: cover;
  }
}

@media screen and (max-width: 768px) {
  .faq__wrapper {
    max-width: 1089px;
    margin: 60px 40px;
    text-align: left;
  }

}