@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800&display=swap");
@import "./nav.css?20190517";

.hero__title {
  color: #fff;
  font-weight: 800;
  font-size: 70px;
  padding: 200px 140px;
  background-size: cover;
  background-image: url(../images/faq_bg.jpg);
  background-image: -webkit-image-set(url(../images/faq_bg.jpg) 1x,
      url(../images/faq_bg@2x.jpg) 2x);
  background-image: image-set(url(../images/faq_bg.jpg) 1x,
      url(../images/faq_bg@2x.jpg) 2x);
  width: 100%;
}

.faq__wrapper {
  max-width: 1280px;
  margin: 0 auto;
  text-align: left;
}

.faq__wrapper p,
a,
span {
  font-size: 20px
}

.faq-section,
.faq-qa {
  margin: 50px 0;
}


.faq-header {
  text-align: center;
  padding: 75px 0;
}


h1,
h2 {
  margin-bottom: 30px;
}

.link-list {
  margin-top: 16px;
  list-style: none;
}

.link-list>li {
  margin: 25px 0;
}


.faq-qa p {
  margin-bottom: 10px;
}

h3 {
  margin-bottom: 10px;
}

.faq__wrapper h1,
h2,
h3,
h4 {
  font-weight: 700;
}

.faq__wrapper p,
a,
i,
li {
  font-weight: 300;
}

.faq-content {
  padding-bottom: 100px;
}

.faq__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 115px;
}

.faq__subtitle--mail {
  padding-top: 8px;
}

.faq-link {
  text-decoration: underline;
}

.faq-link:hover {
  text-decoration: none;
}

@media screen and (max-width: 1281px) {
  .faq__wrapper {
    max-width: 75%;
    margin: 0 auto;
    text-align: left;
  }
}