@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,500i,600,800&display=swap");
@import "./nav.css?20190517";

.hero {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/get-in-touch/get-in-touch-bg.jpg);
  width: 100%;
  color: var(--primary-light);
  padding: 200px 140px;
}

.hero__title {
  font-weight: var(--extra-bold);
  font-size: var(--h1);
  padding-bottom: 10px;
}

.hero__subtitle {
  font-weight: var(--medium);
  font-size: 30px;
}

.get-in-touch {
  padding: 110px 20px;
}

.get-in-touch__form {
  max-width: 1100px;
  margin: 0 auto;
}

.form__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
}

.form__label {
  position: relative;
  font-size: 20px;
  margin-bottom: 30px;
}

.form__label--select::after {
  content: "";
  background-image: url(../images/get-in-touch/form-select-arrow.svg);
  width: 18px;
  height: 16px;
  position: absolute;
  bottom: 25px;
  right: 35px;
  cursor: pointer;
  pointer-events: none;
}

.form__input {
  display: block;
  background-color: var(--input-bg);
  font-size: 20px;
  font-weight: var(--medium);
  font-style: italic;
  cursor: pointer;
  border-radius: 33px;
  border: none;
  padding: 20px 35px;
  margin-top: 15px;
  width: 100%;
}

.form__input--select {
  -webkit-appearance: none;
}

.form__input--select option {
  font-style: normal;
}

.form__input--select option:first-child {
  font-style: italic;
}

@media (min-width: 769px) and (max-width: 1067px) {
  .form__input--2lines {
    margin-top: 45px;
  }
}

.form__input--select:disabled {
  font-style: italic;
}

.form__submit {
  display: block;
  background-color: var(--button);
  font-size: 20px;
  font-weight: var(--medium);
  cursor: pointer;
  padding: 19px 0;
  margin-top: 40px;
  min-width: 260px;
  border-radius: 34px;
  transition: all 0.1s;
}

.form__submit:hover {
  opacity: var(--opacity);
}

.form__submit:active {
  bottom: -1px;
  position: relative;
}

.thankyou {
  display: none;
  font-size: 30px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .hero {
    background-position: center;
    text-align: center;
    padding: 15vh 30px;
  }

  .hero__subtitle {
    font-size: 25px;
  }

  .form__container {
    grid-template-columns: 1fr;
  }

  .form__submit {
    margin: 40px auto 0;
  }
}
