@import url("https://fonts.googleapis.com/css?family=Poppins:300,300i,400,500,600,700,800");
@import "./nav.css?20190516";

.banner-wrap {
  min-height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/front.jpeg);
  background-image: -webkit-image-set(
    url(../images/front.jpeg) 1x,
    url(../images/front.jpeg) 2x
  );
  background-image: image-set(
    url(../images/front.jpeg) 1x,
    url(../images/front.jpeg) 2x
  );
}

.banner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 200px 140px;
  min-height: 520px;
}
.banner-content {
  max-width: 812px;
}

.banner h1 {
  display: block;
  width: 100%;
  text-align: left;
  font-weight: 800;
  font-size: 60px;
  line-height: 75px;
  color: #fff;
  letter-spacing: 3px;
}

.banner img {
  width: 152px;
}

/*...forWhomItWorks...*/
.forWhomItWorks-wrap {
  background: linear-gradient(
    to right,
    #fff 0%,
    #fff 50%,
    #3c465a 50%,
    #3c465a 100%
  );
  position: relative;
  overflow: hidden;
}

.forWhomItWorks-wrap::after {
  content: "";
  background: url(../images/signup-bg-logo.svg) no-repeat;
  width: 476px;
  height: 498px;
  z-index: 1;
  position: absolute;
  bottom: -170px;
  right: -85px;
}

.forWhomItWorks {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1280px;
  margin: 0 auto;
}

.forWhomItWorks h2 {
  max-width: 658px;
  color: #000;
  line-height: 45px;
  font-size: 35px;
  letter-spacing: 3px;
  margin-bottom: 30px;
  font-weight: 600;
}

.forWhomItWorks_subtitle {
  max-width: 768px;
  margin: 0 auto;
  color: #000;
  line-height: 40px;
  font-size: 25px;
}

.forWhomItWorks_desc,
.forWhomItWorks_img_bg {
  max-width: 580px;
}

.forWhomItWorks_text {
  color: #fff;
  font-weight: 600;
  font-size: 34px;
  margin-bottom: 25px;
  letter-spacing: 3px;
}

.forWhomItWorks_text:last-child {
  margin-bottom: 0;
}

.forWhomItWorks > div:nth-of-type(1) {
  background: url(../images/dress.svg) bottom 60px right 100px no-repeat;
  background-size: 150px;
  position: relative;
  padding: 215px 15px 168px;
}

.forWhomItWorks div:nth-of-type(2) {
  position: relative;
  background-color: #3c465a;
  padding: 215px 15px 225px 75px;
  z-index: 0;
  overflow: hidden;
}

.forWhomItWorks_image {
  position: absolute;
  bottom: -210px;
  right: -110px;
  width: 400px;
  height: 498px;
  z-index: 1;
}

.forWhomItWorks_img_bg {
  height: 100%;
  color: #fff;
  line-height: 50px;
  font-size: 25px;
  letter-spacing: 2px;
  margin: 0 auto;
  z-index: 2;
}

/*...end forWhomItWorks...*/

/*...how works...*/
.howItWorks {
  padding: 15vh 0;
  background: #e3e3e3;
  text-align: center;
}
.howItWorks-content {
  max-width: 1089px;
  margin: 0 auto;
}

.howItWorks-title {
  letter-spacing: 3px;
  padding-bottom: 40px;
  font-weight: 700;
  font-size: 35px;
  color: #000;
}

.block_howItWorks_flex {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

@media screen and (max-width: 900px) {
  .block_howItWorks_flex {
    grid-template-columns: 1fr;
  }
}

.block_howItWorks {
  margin: 5px auto;
  width: 100%;
  padding: 15px;
}

.block_howItWorks_title {
  margin-top: 20px;
  font-weight: 700;
  font-size: 24px;
}

.block_howItWorks_text {
  min-width: 240px;
  max-width: 260px;
  margin: 0 auto;
  margin-top: 15px;
  font-size: 19px;
  line-height: 25px;
  color: #000;
}

/*...feedback...*/
.feedback-wrap {
  max-width: 1280px;
  padding: 20vh 35px;
}

.feedback {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 150px;
  text-align: left;
}

.feedback_title {
  padding-bottom: 35px;
  font-size: 35px;
  font-weight: 600;
}

.feedback_text {
  display: block;
  font-size: 25px;
  line-height: 40px;
  max-width: 768px;
}

.feedback_text--height {
  min-height: 230px;
}

.feedback_text--signup {
  cursor: pointer;
  line-height: initial;
  margin-bottom: 55px;
}

.feedback_input {
  font-size: 20px;
  margin: 0 0 70px;
  padding: 4px 45px;
  min-width: 500px;
  border: none;
  display: block;
  height: 67px;
  background: #efefef;
  border-radius: 33px;
}

.feedback_input::placeholder {
  font-weight: 500;
  font-size: 20px;
  font-style: italic;
  color: #000;
}

.feedback_btn_block_link {
  outline: none;
  cursor: pointer;
  font-size: 20px;
  color: #000;
  width: 260px;
  height: 68px;
  margin: 0 auto;
  font-weight: 600;
  background: #9bffbe;
  padding: 19px 0;
  border-radius: 34px;
  display: inline-block;
  text-align: center;
  transition: all 0.1s;
}

.feedback_btn_block_link:hover {
  background: rgba(155, 255, 190, 0.8);
  color: rgba(0, 0, 0, 0.7);
}

.feedback_btn_block_link:active {
  bottom: -1px;
  position: relative;
}

.feedback_btn_block {
  justify-content: flex-start;
  align-items: center;
}

.thankyou {
  display: none;
}

@media screen and (max-width: 1280px) {
  .banner-wrap {
    background-position: center center;
  }
  .banner {
    justify-content: center;
  }
  .banner h1 {
    text-align: center;
  }

  .banner-content {
    width: initial;
    max-width: initial;
  }

  .banner h1 {
    font-size: 45px;
  }

  .forWhomItWorks-wrap {
    background: #fff;
    overflow: hidden;
  }

  .forWhomItWorks {
    grid-template-columns: 1fr;
  }
  .forWhomItWorks div {
    width: 100%;
    padding: 15px;
  }

  .forWhomItWorks h2 {
    margin: 0 auto 30px;
  }

  .forWhomItWorks_desc,
  .forWhomItWorks_img_bg {
    max-width: initial;
    text-align: center;
  }

  .forWhomItWorks > div:nth-of-type(1) {
    padding: 75px 0 168px;
  }
  .forWhomItWorks div:nth-of-type(2) {
    padding: 75px 0 45px;
  }

  .feedback {
    grid-template-columns: 1fr;
    grid-row-gap: 50px;
    justify-items: center;
    text-align: center;
  }

  .feedback__Interested,
  .feedback_text--height {
    min-height: initial;
    padding-bottom: 25px;
  }

  .feedback_text--signup {
    margin-bottom: 0;
  }

  .feedback_title {
    padding-bottom: 15px;
  }

  .feedback_input {
    margin: 0 auto 30px;
    min-width: 200px;
    max-width: 398px;
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .banner {
    padding: 15vh 30px;
  }
}
@media screen and (max-width: 719px) {
  .forWhomItWorks h2 {
    width: 90%;
    line-height: 38px;
  }
  .forWhomItWorks div:nth-of-type(2) p {
    margin: 0 0 30px 0;
    line-height: 45px;
  }
}

@media screen and (max-width: 525px) {
  .banner-wrap {
    background-position: center;
  }
  .banner-content {
    width: 70%;
  }

  .banner {
    justify-content: center;
    min-height: initial;
  }

  .banner-content {
    width: 100%;
    padding: 30px 0;
  }

  .banner h1 {
    font-size: 36px;
    line-height: 55px;
    text-align: center;
  }

  .banner-content img {
    display: block;
    margin: 0 auto;
  }

  .howItWorks h2 {
    font-size: 35px;
  }

  .feedback_input::placeholder {
    font-size: 16px;
  }
}
