body {background-color: #fff;}
.clear { clear: both;}
.heroHowContainer {
    margin: 0;
    position: relative;
    background: url(../images/howItWorksHero.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    align-items: center;
    top: 0;
}
.heroHowContainer .greyWithOpacity {
    position: absolute;
    background-color: #3C465A;
    width: 100%;
    height: 100%;
    opacity: 0.8;
}
.heroHowContainer .heroInfo {
    position: relative;
    color: #fff;
    padding-top: 70px;
}
.heroHowContainer .heroInfo h1 {
    font-size: 36px;
    font-weight: 600;
    line-height: 40px;
}
.heroHowContainer .heroInfo p {
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    max-width: 570px;
    margin-top: 34px;
}

.btnBox {
    padding-top: 20px;
    background-color: #2864FF;
    color: #fff;
    text-align: center;
    display: none;
    border-radius: 8px;
    padding: 10px 10px;
    margin-top: 20px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -0.44px;
}

.btnBox a {
    font-weight: 600;
    padding: 0 8px;
}

.intrigued {
    background-color: #F4F7FF;
    margin-top: 0px;
    padding: 80px 0;
}
.intrigued h1 {
    color: #3C465A;
    font-size: 32px;
    font-weight: 600;
    line-height: 44px;
    text-align: center;
    padding: 0 0 20px;
}
.intrigued p {
    max-width: 1240px;
    margin: 0 auto;
    text-align: center;
    /*padding: 0 50px;*/
}
.howItWorks {
    padding: 80px 0;
    margin: 0 auto;
    color: #3C465A;
}
.howItWorks .list-group  {
    padding-left: 10px;
    padding-top: 50px;
    max-width: 420px;
    text-align: left;
}
.howItWorks .list-group .list-group-item{
    border:none;
    border-left:3px solid #ffe5b4;
    box-sizing:border-box;
    border-radius:0;
    counter-increment: step-counter;
    padding-left:20px;
    padding-right:0px;
    padding-bottom:50px;
    padding-top:0px;
}
.howItWorks .list-group .list-group-item.active{
    background-color:transparent;
    color:inherit;
}
.howItWorks .list-group .list-group-item:last-child{
    border-left:3px solid transparent;
    padding-bottom:0;
}
.howItWorks .list-group .list-group-item::before {
    /* border-radius: 50%; */
    background-color:#FFDAB9 !important;
    color:#FFDAB9 !important;
    content: counter(step-counter);
    display:inline-block;
    float:left;
    height:25px;
    line-height:25px;
    margin-left:-35px;
    text-align:center;
    width:25px;
}
.howItWorks .list-group .list-group-item span,
.howItWorks .list-group .list-group-item a{
    display:block;
    overflow:hidden;
    padding-top:2px;
}
/*Active/ Completed States*/
.howItWorks .list-group .list-group-item.active::before{
    background-color:black;
    color:#fff;
}
.howItWorks .list-group .list-group-item.completed{
    border-left:1px solid black;
}
.howItWorks .list-group .list-group-item.completed::before{
    background-color:black;
    color:#fff;
}
.howItWorks .list-group .list-group-item.completed:last-child{
    border-left:1px solid transparent;
}

.howItWorks .col-2, .everyStep .col-2 {
    width: 50%;
    float: left;
    box-sizing: border-box;
    text-align: center;
}
.howItWorks .col-2 img {
    width: calc(100% - 30px);
    max-width: 420px;
    margin: 0 auto;
}

.everyStep {
    padding: 80px 50px;
    margin: 0 auto;
    background-color: #F4F7FF;
    color: #3C465A;
}
.everyStep table {
    text-align: center;
    margin: 0 auto;
}
.everyStep table td {
    width: 150px;
    margin: 0;
    padding: 0;
}
.everyStep table img {
    height: 80px;
    display: block;
    margin: 0 auto 14px;
}
.everyStep .everyStepContent {
    text-align: left;
}
.everyStep .everyStepContent h1 {
    margin-bottom: 20px;
}
.everyStep .everyStepContent p {
    max-width: 570px;
}

.everyStep table img.pullLeft {
    margin-left: 30px
}
.everyStep table img.pullRight {
    margin-right: 30px
}

.promotions {
    background-color: #fff;
    clear: both;
    padding: 80px 0;
}

.promotions h1 {
    color: #3C465A;
    font-size: 32px;
    font-weight: 600;
    line-height: 44px;
    text-align: center;
    padding: 50px 25px;
}
.promotions .col-3 {
    width: 33%;
    float: left;
    box-sizing: border-box;
    text-align: center;
}
.promotions .col-3 img {
    width: calc(100% - 30px);
    margin: 0 auto;
    border-radius: 4px;
}

@media (max-width: 1200px) {
    .heroHowContainer .heroInfo {
        /*padding: 120px 50px 0;*/
    }
    .everyStep {
        padding: 80px 0px;
    }
    .everyStep .col-2 {
        width: 100%;
        padding: 0 0 50px;
    }
    .btnBox{
        display: inline-block;
    }
}

@media (max-width: 980px) {
    .howItWorks {
        padding: 80px 0px;
    }
    .promotions {
        padding: 0px;
    }
    .howItWorks .col-2 {
        width: 100%;
        padding: 0 0 50px;
    }
    .heroHowContainer .heroInfo {
        font-size: 14px;
    }
    .promotions .col-3 {
        width: 100%;
        padding-bottom: 20px;
    }
    @media (max-width: 380px) {
    .heroHowContainer{
        height:430px;
    }
    }
}