html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline; }

html, body {
    height: 100%;
    width: 100%; }

ol, ul {
    list-style: none; }

* {
    margin: 0;
    padding: 0;
    outline: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

a, a:hover {
    text-decoration: none; }

@font-face {
    font-family: 'PoppinsBold';
    src: url("../fonts/bold/PoppinsBold.eot");
    src: url("../fonts/bold/PoppinsBold.eot") format("embedded-opentype"), url("../fonts/bold/PoppinsBold.woff2") format("woff2"), url("../fonts/bold/PoppinsBold.woff") format("woff"), url("../fonts/bold/PoppinsBold.ttf") format("truetype"), url("../fonts/bold/PoppinsBold.svg#PoppinsBold") format("svg"); }

@font-face {
    font-family: 'PoppinsLight';
    src: url("../fonts/light/PoppinsLight.eot");
    src: url("../fonts/light/PoppinsLight.eot") format("embedded-opentype"), url("../fonts/light/PoppinsLight.woff2") format("woff2"), url("../fonts/light/PoppinsLight.woff") format("woff"), url("../fonts/light/PoppinsLight.ttf") format("truetype"), url("../fonts/light/PoppinsLight.svg#PoppinsLight") format("svg"); }

@font-face {
    font-family: 'PoppinsMedium';
    src: url("../fonts/medium/PoppinsMedium.eot");
    src: url("../fonts/medium/PoppinsMedium.eot") format("embedded-opentype"), url("../fonts/medium/PoppinsMedium.woff2") format("woff2"), url("../fonts/medium/PoppinsMedium.woff") format("woff"), url("../fonts/medium/PoppinsMedium.ttf") format("truetype"), url("../fonts/medium/PoppinsMedium.svg#PoppinsMedium") format("svg"); }

@font-face {
    font-family: 'PoppinsMediumItalic';
    src: url("../fonts/mediumItalic/PoppinsMediumItalic.eot");
    src: url("../fonts/mediumItalic/PoppinsMediumItalic.eot") format("embedded-opentype"), url("../fonts/mediumItalic/PoppinsMediumItalic.woff2") format("woff2"), url("../fonts/mediumItalic/PoppinsMediumItalic.woff") format("woff"), url("../fonts/mediumItalic/PoppinsMediumItalic.ttf") format("truetype"), url("../fonts/mediumItalic/PoppinsMediumItalic.svg#PoppinsMediumItalic") format("svg"); }

@font-face {
    font-family: 'PoppinsSemiBold';
    src: url("../fonts/semiBold/PoppinsSemiBold.eot");
    src: url("../fonts/semiBold/PoppinsSemiBold.eot") format("embedded-opentype"), url("../fonts/semiBold/PoppinsSemiBold.woff2") format("woff2"), url("../fonts/semiBold/PoppinsSemiBold.woff") format("woff"), url("../fonts/semiBold/PoppinsSemiBold.ttf") format("truetype"), url("../fonts/semiBold/PoppinsSemiBold.svg#PoppinsSemiBold") format("svg"); }

.title-h1 {
    font-size: 65px;
    font-family: "PoppinsBold", sans-serif;
    line-height: normal;
    font-weight: 700;
    text-align: center;
    color: #ffffff; }

.title-h2 {
    font-size: 50px;
    font-family: "PoppinsBold", sans-serif;
    line-height: 110px;
    font-weight: 700;
    text-align: center;
    color: #000000; }

.title-h3 {
    font-size: 30px;
    font-family: "PoppinsSemiBold", sans-serif;
    line-height: 40px;
    font-weight: 600;
    text-align: center;
    color: #000000; }

.title-h4 {
    font-size: 35px;
    font-family: "PoppinsBold", sans-serif;
    line-height: normal;
    font-weight: 600;
    text-align: center;
    color: #000000; }

.paragraph-1 {
    font-size: 65px;
    font-family: "PoppinsSemiBold", sans-serif;
    line-height: 80px;
    font-weight: 600;
    text-align: center;
    color: #ffffff; }

.paragraph-2 {
    font-size: 30px;
    font-family: "PoppinsLight", sans-serif;
    line-height: 50px;
    font-weight: 300;
    text-align: center;
    color: #000000; }

.paragraph-3 {
    font-size: 25px;
    font-family: "PoppinsLight", sans-serif;
    line-height: 35px;
    font-weight: 300;
    text-align: center;
    color: #000000; }

.paragraph-4 {
    font-size: 30px;
    font-family: "PoppinsLight", sans-serif;
    line-height: normal;
    font-weight: 300;
    text-align: center;
    color: #000000; }

.link-to {
    font-size: 30px;
    font-family: "PoppinsSemiBold", sans-serif;
    line-height: normal;
    font-weight: 300;
    text-align: center;
    color: #000000; }

.btn-primary {
    font-size: 18px;
    font-family: "PoppinsSemiBold", sans-serif;
    line-height: normal;
    font-weight: 500;
    text-align: center;
    color: #000000;
    width: 100%;
    max-width: 398px;
    min-width: 250px;
    height: 67.53px;
    background-color: #9BFFBE;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    border: none;
    cursor: pointer; }
.btn-primary:hover {
    background-color: rgba(137, 255, 189, 0.8);
    color: rgba(0, 0, 0, 0.71); }
.btn-primary:active {
    background-color: rgba(155, 255, 190, 0.6);
    color: rgba(0, 0, 0, 0.6); }

.block-wap {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto; }

.block-child-wrap {
    width: 100%;
    max-width: 1364.15px;
    padding: 0 15px;
    margin: 0 auto; }

/*...welcome block...*/
.welcome-wrap {
    /*background: url("../images/landingpage_bg.png") center center no-repeat;*/
    -webkit-background-size: cover;
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url('../images/landingpage_bg.png');
    /*-webkit-background-size: cover;*/
    -moz-background-size:  cover;
    -o-background-size: cover;
    background-size: cover;

    background-size: cover;
    padding: 90px 0;
}

.welcome {
    text-align: center; }
.welcome .logo {
    width: 100%;
    max-width: 260px;
    height: auto;
    margin-bottom: 10px; }
.welcome .welcome-subtitle {
    letter-spacing: 2px; }

/*...end welcome block...*/
/*...partnered...*/
.partnered-wrap {
    padding: 130px 0 65px; }
.partnered {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1088px !important;
}
.partnered-wrap .partnered__paragraph {
    text-align: left;
    width: 69%;
    margin: 0 0 43px; }
.partnered-wrap .partnered_btn {
    max-width: 260px;
    display: inline-block;
    margin-bottom: 43px;
    /*margin: 0 auto; */
}

/*...end partnered...*/
/*...works...*/
.works-wrap {
    padding: 84px 0 95px;
    background-color: #EDEDED; }
.works {
    max-width: 1088px !important;
}

.works-title {
    margin-bottom: 47px;
}
/*.works-title span {*/
    /*border-bottom: 3px solid #000000;*/
    /*display: inline-block;*/
    /*line-height: 0.85;*/
    /*text-shadow: 2px 2px white, 2px -2px white, -2px 2px white,  -2px -2px white; */
/*}*/

.work-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start; }

.work-item {
    width: 300px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 15px; }
/*.work-item .work-item__icon {*/
/*    margin-bottom: 17px; }*/
.work-item .work-item__icon_1 {
    width: 64px;
    height: 76px;
    margin-top: 15px;
    margin-bottom: 19.92px;
}
.work-item .work-item__icon_2 {
    width: 106px;
    height: 68px;
    margin-top: 15px;
    margin-bottom: 20.45px;
}
.work-item .work-item__icon_3 {
    width: 70px;
    height: 83px;
    margin-bottom: 16.77px;
}
.work-item .work-item__title {
    margin-bottom: 17px; }
.work-item__desc {
    width: 92%;
}

/*...end works...*/
/*...empoweringPay...*/
.empoweringPay-wrap {
    padding: 121.25px 0 160px;
    overflow: hidden;
    position: relative; }
.empoweringPay-wrap .empoweringPay-bg-icon {
    width: 554px;
    height: 681px;
    position: absolute;
    left: -140px;
    bottom: -80px;
    z-index: -3; }

.empoweringPay-section {
    width: 100%;
    margin: 0 auto; }
.empoweringPay-title {
    margin-bottom: 65px; }

.empoweringPay-section .empoweringPay__article {
    margin-bottom: 65px; }
.empoweringPay-section .empoweringPay__article:last-child {
    margin-bottom: 0;
}
.empoweringPay-section .empoweringPay__article .empoweringPay__article-title {
    margin-bottom: 20px; }

.empoweringPay_btn {
    display: block;
    margin: 0 auto; }

/*...end empoweringPay...*/

@media screen and (max-width: 890px) {
    .partnered {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .partnered .partnered__paragraph {
        width: 70%;
        text-align: center;
    }
}
@media screen and (max-width: 1366px) {
    .title-h2 {
        font-size: 50px; }
    .title-h3 {
        font-size: 28px; }
    .title-h4 {
        font-size: 26px; }
    .paragraph-1 {
        font-size: 40px;
        line-height: 45px;
    }
    .paragraph-2 {
        font-size: 26px;
        line-height: 50px; }
    .paragraph-3 {
        font-size: 25px;
        line-height: 35px; }
    .paragraph-4 {
        font-size: 25px; }
}

@media screen and (max-width: 1000px) {
    .title-h2 {
        font-size: 40px; }
    .title-h3 {
        font-size: 20px; }
    .title-h4 {
        font-size: 25px; }
    .paragraph-1 {
        font-size: 35px;
        line-height: 45px;
    }
    .paragraph-2 {
        font-size: 23px;
        line-height: 50px; }
    .paragraph-3 {
        font-size: 20px;
        line-height: 35px; }
    .paragraph-4 {
        font-size: 20px; }
    .link-to {
        font-size: 24px; }
    .btn-primary {
        height: 50px; } }

@media screen and (max-width: 920px) {
    .work-list {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center; } }

@media screen and (max-width: 765px) {
    .welcome-wrap {
        padding: 140px 0;
    }
    .title-h2 {
        line-height: 60px;
    }
}

/*@media screen and (max-width: 480px) {*/
    /*.works-title {*/
        /*text-decoration: underline; }*/
    /*.works-title span {*/
        /*border-bottom: none;*/
        /*display: inline;*/
        /*line-height: normal;*/
        /*text-shadow: none; */
    /*} */
/*}*/

@media screen and (max-width: 425px) {
    .partnered-wrap .partnered__paragraph {
        width: 100%; } }
