@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,800i&display=swap');
@import './nav.css?20190517';

.link-to {
  line-height: normal;
  font-weight: 600;
  text-align: center;
  color: #000;
  transition: all 0.1s;
}

.link-to:hover {
  color: rgba(0, 0, 0, 0.7);
}

.block-child-wrap {
  max-width: 1650px;
  margin: 0 auto;
  padding: 0 20px;
}

/*...welcome block...*/
.welcome-wrap {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/landingpage_bg.jpg);
  background-image: -webkit-image-set(
    url(../images/landingpage_bg.jpg) 1x,
    url(../images/landingpage_bg@2x.jpg) 2x
  );
  background-image: image-set(
    url(../images/landingpage_bg.jpg) 1x,
    url(../images/landingpage_bg@2x.jpg) 2x
  );
  padding: 65px 0 60px;
}

.welcome {
  display: flex;
  flex-direction: column;
}

.welcome-title {
  font-size: 55px;
  line-height: 75px;
  font-weight: 800;
  color: #fff;
  letter-spacing: 3px;
  padding-top: 20px;
}

.welcome-logo {
  max-width: 155px;
  max-height: 30px;
}
/*...end welcome block...*/

/*...signup...*/
.signup {
  background: linear-gradient(
    to right,
    #fff 0%,
    #fff 50%,
    #3c465a 50%,
    #3c465a 100%
  );
  position: relative;
  overflow: hidden;
  padding: 160px 0 155px;
}

.signup::after {
  content: '';
  background: url(../images/signup-bg-logo.svg) no-repeat;
  width: 476px;
  height: 498px;
  z-index: 1;
  position: absolute;
  bottom: -200px;
  right: -75px;
}

.signup__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.signup__title {
  font-weight: 500;
  font-size: 35px;
  line-height: 60px;
  padding: 50px 15px 0 0;
}

.signup__subtitle {
  font-weight: 800;
  font-style: italic;
}

.signup__item {
  max-width: 585px;
}

.signup__item--form {
  max-width: 620px;
  background-color: #3c465a;
  justify-self: center;
  padding-left: 15px;
}

.signup__form-title {
  display: block;
  cursor: pointer;
  font-weight: 500;
  font-size: 30px;
  line-height: 50px;
  color: #fff;
  padding-bottom: 40px;
}

.signup__form {
  position: relative;
  z-index: 2;
}

.signup__input {
  font-size: 20px;
  margin-bottom: 40px;
  background-color: #efefef;
  border: none;
  border-radius: 33px;
  height: 66px;
  text-align: left;
  padding-left: 40px;
  width: 80%;
  min-width: 260px;
}

.signup__input::placeholder {
  font-size: 20px;
  font-weight: 300;
}

.signup__submit {
  display: block;
  border: none;
  border-radius: 34px;
  background-color: #9bffbe;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  height: 67px;
  width: 260px;
  transition: all 0.3s;
}

.signup__submit:hover {
  background: rgba(155, 255, 190, 0.8);
  color: rgba(0, 0, 0, 0.7);
}

.signup__submit:active {
  bottom: -1px;
  position: relative;
}

.thankyou {
  display: none;
  font-weight: 600;
  font-size: 25px;
  color: #fff;
}

/*...end signup...*/

/*...works...*/
.works-wrap {
  padding: 90px 0 95px;
  background-color: #ededed;
}

.works {
  max-width: 1088px;
  padding: 0 15px;
  margin: 0 auto;
}

.works-title {
  font-weight: 700;
  font-size: 35px;
  margin-bottom: 50px;
  text-align: center;
}

.work-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

.work-item {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.work-item__icon_1 {
  margin-bottom: 14px;
}

.work-item__icon_2 {
  margin-bottom: 23px;
}

.work-item__icon_3 {
  margin-bottom: 7px;
}

.work-item__title {
  font-weight: 600;
  font-size: 30px;
  text-align: center;
  margin-bottom: 17px;
}
.work-item__desc {
  font-weight: 300;
  font-size: 25px;
  line-height: 35px;
  text-align: center;
  min-height: 140px;
  width: 92%;
  max-width: 260px;
  margin: 0 auto;
}

/*...end works...*/
/*...empoweringPay...*/
.empoweringPay-wrap {
  padding: 65px 0 100px;
  overflow: hidden;
  position: relative;
}

.empoweringPay {
  width: 100%;
  max-width: 1364px;
  padding: 0 15px;
  margin: 0 auto;
}

.empoweringPay-section {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.empoweringPay-title {
  font-weight: 800;
  font-size: 40px;
  margin-bottom: 40px;
}

.empoweringPay__article {
  margin-bottom: 40px;
}

.empoweringPay__article:last-child {
  margin-bottom: 0;
}

.empoweringPay__article-title {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 10px;
}

.empoweringPay__text {
  font-weight: 300;
  font-size: 20px;
}

/*...end empoweringPay...*/
@media screen and (max-width: 1650px) {
  .signup__item--form {
    padding-left: 45px;
  }
}

@media screen and (max-width: 920px) {
  .signup .block-child-wrap {
    padding: 0;
  }

  .empoweringPay {
    padding: 0 15px;
  }

  .welcome {
    align-items: center;
  }

  .welcome-title {
    padding: 15px;
    font-size: 45px;
    text-align: center;
  }

  .signup {
    background: #fff;
    padding: 90px 0 0;
  }

  .signup__wrapper {
    grid-template-columns: 1fr;
    grid-row-gap: 50px;
  }

  .signup__title {
    padding-top: 0;
    text-align: center;
  }

  .signup__item,
  .signup__item--form {
    max-width: initial;
    padding: 0 15px;
  }

  .signup__item--form {
    padding: 50px 15px 95px;
    text-align: center;
  }

  .signup__input {
    text-align: center;
    padding-left: 0px;
  }

  .signup__submit {
    margin: 0 auto;
  }

  .work-list {
    grid-template-columns: 1fr;
    grid-row-gap: 50px;
  }
}

@media screen and (max-width: 400px) {
  .welcome.block-child-wrap {
    padding: 0;
  }

  .welcome-title {
    font-size: 36px;
  }
}
