@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800");
@import "./nav.css?20190516";

.hero {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/legal_crop.jpg);
  background-image: -webkit-image-set(
    url(../images/legal_crop.jpg) 1x,
    url(../images/legal_crop.jpg) 2x
  );
  background-image: image-set(
    url(../images/legal_crop.jpg) 1x,
    url(../images/legal_crop.jpg) 2x
  );
  background-position-y: bottom;
  width: 100%;
}
p,
li,
a {
  font-size: 19px;
}
.title {
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 30px;
}

.hero__title {
  color: #fff;
  font-weight: 800;
  font-size: 55px;
  padding: 200px 140px;
}

.content {
  padding: 15vh 30px;
  min-height: 60vh;
  text-align: center;
  font-size: 19px;
}

.content__text {
  padding-bottom: 25px;
}

.content__contact-link {
  font-weight: 700;
  text-decoration: underline;
}

.content__title {
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 30px;
}

.content__legal-item {
  padding-bottom: 30px;
}

.content__legal-item:last-child {
  padding-bottom: 0;
}

.legal__title {
  font-weight: 700;
  font-size: 19px;
  padding-bottom: 5px;
}

.legal__link-wrapper {
  padding-bottom: 10px;
}

.legal__link {
  color: #1697c5;
  text-decoration: underline;
}

.legal__link:hover {
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  .hero__title {
    text-align: center;
    font-size: 50px;
    padding: 15vh 30px;
  }
}
