@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,800&display=swap");
@import "./nav.css?20190517";

.section-title {
  font-size: 35px;
  font-weight: 600;
  line-height: 40px;
  color: #3c465a;
}

.hero {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/works/works.jpg);
  background-image: -webkit-image-set(
    url(../images/works/works.jpg) 1x,
    url(../images/works/works@2x.jpg) 2x
  );
  background-image: image-set(
    url(../images/works/works.jpg) 1x,
    url(../images/works/works@2x.jpg) 2x
  );
  width: 100%;
}

.hero__title {
  color: #000;
  font-weight: 800;
  font-size: 55px;
  padding: 180px 140px;
  max-width: 800px;
}

.about {
  padding: 105px 0;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
}

.about__text {
  max-width: 1350px;
  margin: 0 auto;
  padding-bottom: 5px;
}

.about__text:last-child {
  padding-bottom: 0;
}

.works {
  padding: 140px 0;
  color: #fff;
  background-color: #3c465a;
  text-align: center;
}

.works__title {
  padding-bottom: 100px;
  color: #fff;
}

.works__item {
  max-width: 680px;
  margin: 0 auto;
  padding-bottom: 80px;
}

.works__item:last-child {
  padding-bottom: 0;
}

.works__item-title {
  padding: 35px 0;
  font-size: 25px;
  font-weight: 600;
}

.works__item-descr {
  font-size: 20px;
  line-height: 30px;
}

.help__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}

.help__section {
  padding: 140px 35px;
}

.help__title {
  padding-bottom: 50px;
}

.help__title--faq {
  color: #fff;
}

.help__faq {
  background-color: #179ecf;
  color: #fff;
}

.faq__descr {
  font-size: 20px;
  line-height: 30px;
  padding-bottom: 30px;
  max-width: 740px;
  margin: 0 auto;
}

.faq__descr:last-child {
  padding-bottom: 0;
}

.contacts__text {
  max-width: 250px;
  margin: 0 auto;
  padding-top: 30px;
  color: #3c465a;
  font-size: 20px;
}

.help__link {
  font-weight: 600;
  text-decoration: underline;
}

.help__link:hover {
  text-decoration: none;
}

.readyToChat-wrap {
  padding: 175px 0 145px;
  background-color: #f0f0f0;
}

.readyToChat {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.readyToChat-title {
  color: #3c465a;
  margin: 10px 55px 10px 0;
}

.readyToChat-btn {
  font-size: 20px;
  line-height: normal;
  font-weight: 600;
  text-align: center;
  color: #000;
  width: 100%;
  max-width: 398px;
  min-width: 250px;
  height: 67.53px;
  background-color: #9bffbe;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  transition: all 0.1s;
  padding: 20px 0;
}

.readyToChat-btn:hover {
  background: rgba(155, 255, 190, 0.8);
  color: rgba(0, 0, 0, 0.7);
}

.readyToChat-btn:active {
  bottom: -1px;
  position: relative;
}

@media screen and (max-width: 1600px) {
  .hero {
    background-position: center;
    background-size: cover;
  }
}

@media screen and (max-width: 1210px) {
  .help__container {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 768px) {
  .block-child-wrap {
    padding: 0 35px;
  }

  .section-title {
    font-size: 34px;
  }

  .hero {
    background-image: url(../images/works/works_mobile.jpg);
  }

  .hero__title {
    text-align: center;
    font-size: 36px;
    max-width: 240px;
    margin: 0 auto;
    padding: 19vh 0;
    line-height: 55px;
  }

  .about {
    padding: 60px 0;
    font-size: 22px;
    line-height: 36px;
  }

  .works {
    padding: 60px 0;
  }

  .works__title {
    padding-bottom: 50px;
  }

  .works__item {
    padding-bottom: 60px;
  }

  .works__item-title {
    font-size: 24px;
    padding: 30px 0;
  }

  .works__item-descr {
    font-size: 19px;
    line-height: 25px;
  }

  .help__section {
    padding: 60px 35px 70px;
  }

  .faq__descr {
    padding-bottom: 25px;
  }

  .faq__descr,
  .contacts__text {
    line-height: 25px;
  }

  .readyToChat-wrap {
    padding: 55px 0 70px;
  }

  .readyToChat {
    flex-direction: column;
    align-items: center;
  }

  .readyToChat-title {
    text-align: center;
    line-height: 40px;
    max-width: 250px;
    margin: 0;
    padding-bottom: 60px;
  }
}