html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }
ol, ul { list-style: none; }
a { color: inherit; text-decoration: none; }
@font-face {
    font-family: 'proxima_softregular';
    src: url('fonts/mark_simonson_-_proxima_soft-webfont.woff2') format('woff2'),
         url('fonts/mark_simonson_-_proxima_soft-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'proxima_softthin';
    src: url('fonts/mark_simonson_-_proxima_soft_thin-webfont.woff2') format('woff2'),
         url('fonts/mark_simonson_-_proxima_soft_thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    display: flex;
    justify-content: center;
    /*background: #f5f6f8;*/
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
#mobile{
    display: none;
}
.container{
    width: 100%;
    display: flex;
    max-width: 1600px;
    background: white;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.image{
  width: 100%;
}

.logo{
    background: url(./images/oplogo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height:30px;

    width: 150px;
}
.header{
    position: relative;
    width: 100%;
}
.testbox{
  max-width: 580px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 50px 0 0 100px;
  /*padding: 20px;*/
}
.xcon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f5f6f8;
    padding: 6em;
}
.xcon img{
    height: 200px;
}
.xblock a{
    border-radius: 10px;
    border: 2px solid blue;
    color: blue;
    padding:10px 35px;
}
.grey{
     background-color: #f5f6f8;
}
.xblock .info{
    padding: 20px 0;
}

.header-info{
    /*position: absolute;*/
    background: url(./images/landing.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-content: center;
    /*top: 10%;
    left:10%;*/
    color: white;
    padding: 20px;
    background-color: transparent;
    /*max-width: 580px;*/
    width: 100%;
    height: 525px;
    box-sizing: border-box;
    padding: 20px;
}
.header-info p{
  line-height: 29px;
  letter-spacing: .3px;
  font-size: 18px;
  font-weight: 300;
}
.header-info div{
    /*width: 150px;*/
}
.header-info h1{
    margin: 40px 0;
    font-weight: 500;
    line-height: 47px;
    letter-spacing: .22px;
}

.second{
  background: white;
  padding:100px 0;
}
.second img{
    height: 300px;
}
.title{
  font-weight: 500;
  font-size: 20px;
}
.info{
    font-weight: 300 !important;
}

.ol ol{
    list-style: disc;
    display: block;
    padding-left: 40px;
    margin:15px 0;
}
.mid-info{
    font-size: 16px !important;
    font-weight: 300 !important;
}
.tiny-info{
    font-size: 12px !important;
    font-weight: 300 !important;
    line-height: 20px !important;
    margin-top: 10px;
}
.graphic{
  display: flex;
  justify-content: center;
  align-items: center;
}
.graphic-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.box{
  max-width: 550px;
}
.graphic-info div{
    font-size: 19px;
    letter-spacing: .17px;
    line-height: 31px;
    /*color: green;*/
}
.info{
  margin: 24px 0;
}
.DL{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
}
.appleDL{
  background: url(./images/DLApple.svg);
  height: 35px;
  /*margin:5px;*/
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  width: 22%;
}
.androidDL{
  background: url(./images/DLGoogle.svg);
  height: 35px;
  /*margin:5px;*/
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  width: 30%;
}
.mobile-phone{
    display:none;
}
.diagonal{
    align-items: center;
    position: relative;
    background-color: white;
    padding-top: 160px;
    background-color: white;
    padding-bottom: 100px;
    /*height: ;*/
}
.slant{
    background: url('./images/Path2.png');
    position: absolute;
    top: 0;
    left: 0;
    height: 469px;
    width: 70%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    /*align-items: center;*/
    flex-direction: column;
    /*bottom:0;*/
}
.slant-info{
    max-width: 724px;
    font-size: 19px;
    letter-spacing: .17px;
    line-height: 31px;
    padding-left: 10%;
}
.iphone{
    height: 400px;
    padding-right: 28%;
    margin-top: -100px;
}
.navy-bar{
    display: flex;
    justify-content: flex-end;
    background-color: #131E33;
    height: 200px;
    width: 100%;
}
.button{
    border: 2px solid blue;
    border-radius: 10px;
    padding: 5px;
    max-width: 242px;
    display: flex;
    color: blue;
    justify-content: center;
    align-items: center;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.c1{
    padding: 5px;
    box-sizing: border-box;
    width: 8.3333%;
}
.c2{
    padding: 5px;
    box-sizing: border-box;
    width: 16.67%;
}
.c3{
    padding: 5px;
    box-sizing: border-box;
    width: 25%;
}
.c4{
    padding: 5px;
    box-sizing: border-box;
    width: 33.3%;
}
.c5{
    padding: 5px;
    box-sizing: border-box;
    width: 41.7%;
}
.c6{
    /*padding: 5px;*/
    box-sizing: border-box;
    width: 50%;
}
.c7{
    padding: 5px;
    box-sizing: border-box;
    width: 58.3333333%;
}
.c8{
    padding: 5px;
    box-sizing: border-box;
    width: 66%;
}
.c9{
    padding: 5px;
    box-sizing: border-box;
    width: 75%;
}
.c10{
    padding: 5px;
    box-sizing: border-box;
    width: 83.3333333%;
}
.c11{
    padding: 5px;
    box-sizing: border-box;
    width: 92%;
}
.c12{
    padding: 5px;
    box-sizing: border-box;
    width: 100%;
}




footer { width: 100%; display: inline-block; vertical-align: top; background: #f5f6f8; padding: 50px; text-align: center; }
footer .footer-logo { float: left; }
footer .footer-nav { display: inline-block; vertical-align: top; }
footer .socila-icon { float: right; margin-top: 10px; }
.footer-nav ul li { float: left; margin-left: 90px; line-height: 43px; }
.footer-nav ul li:first-child { margin-left: 0; }
.footer-nav ul li a { font-family: 'proxima_softregular'; font-size: 9px; line-height: 15px; color: #3b4659; text-transform: uppercase; letter-spacing: 2px; }
.footer-nav ul li a:hover { color: #00e1b4; }

.socila-icon ul li { float: left; margin-left: 20px; }
.socila-icon ul li:first-child { margin-left: 0; }
.socila-icon ul li a { width: 25px; height: 25px; background: #c7cad1; color: #fff; font-size: 12px; line-height: 25px; display: block; -webkit-border-radius: 100px; -moz-border-radius: 100px; border-radius: 100px; }
.socila-icon ul li a:hover { background: #00e1b4; }


@media (max-width: 1440px) { 
    .slant{
        width: 76%;
    }
    .iphone{
        padding-right: 20%;
    }

}

@media (max-width: 1200px) {  
    .second{
        padding: 15px;
    }
    .xcon{
        padding: 35px 15px 35px 15px;
    }
    .xblock .info{
        padding: 10px 0;
    }
    .xcon img{
        height: 100px;
    }
    .second img{
        height: 250px;
        margin: 30px 0;
    }
    .testbox{
        padding: 15px;
    }
    .c1,
    .c2,
    .c3,
    .c4,
    .c5,
    .c6,
    .c7,
    .c8,
    .c9,
    .c10,
    .c11,
    .c12 {
      width: 100%;
    }
    .navy-bar,.iphone{
        display: none;
    }
    .mobile-phone{
        display: block;
        padding: 20px 0;
    }

    .slant{
        width: 100%;
        /*height: 300px;*/
    }
    .slant-info{
        padding:15px;
    }
    footer { padding: 40px; padding-top: 420px;}
    footer { text-align: center; }
    footer .footer-logo { float: none; display: inline-block; vertical-align: top; }
    footer .footer-nav { width: 100%; }
    .footer-nav ul li { margin-left: 15px; float: none; display: inline-block; vertical-align: top; }
    footer .socila-icon { float: none; display: inline-block; vertical-align: top; }
    .row {
      flex-wrap: wrap;
    }
  }


@media (max-width: 800px) {
    .slant{
        background:white;
        height: 580px;
    } 
    .appleDL{
        width:30%;
    }
    .mobileiphone{
        display: none;
    }
    #mobile{
        display: block;
        height: 200px;
    }
}
