@font-face {
    font-family: 'proxima_softthin';
    src: url('fonts/mark_simonson_-_proxima_soft_thin-webfont.woff2') format('woff2'),
         url('fonts/mark_simonson_-_proxima_soft_thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'proxima_softregular';
    src: url('fonts/mark_simonson_-_proxima_soft-webfont.woff2') format('woff2'),
         url('fonts/mark_simonson_-_proxima_soft-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; outline: none; }
body { font-family: 'Poppins', sans-serif; margin: 0; padding: 0; font-size: 14px; line-height: 20px; color: #3C465A; overflow-x: hidden; }
img { max-width: 100%; display: block; }
ul, li { list-style-type: none; margin: 0; padding: 0; }
a, .button, input[type="submit"], button { cursor: pointer; text-decoration: none; -webkit-transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1); -moz-transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1); transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1); }
h1, h2, h3, h4, h5, h6 { font-family: 'proxima_softthin'; margin: 0 0 15px; }
h1, h2 { font-size: 46px; line-height: 52px; font-weight: 300; color: #000; margin-bottom: 45px; }
p { font-size: 14px; line-height: 24px; color: #3C465A; font-weight: 300; margin: 0 0 15px; }

.button { font-family: 'proxima_softthin'; font-size: 14px; line-height: 20px; color: #fff; letter-spacing: 2px; border: solid 1px #fff; text-transform: uppercase; display: inline-block; vertical-align: top; padding: 8px 30px; -webkit-border-radius: 100px; -moz-border-radius: 100px; border-radius: 100px; }
.button:hover { background: #fff; color: #000; }
.bold{
    color: red;
}
.page { position: relative; }
/* Left Pannel Start */
.show-more{
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
    background-color: #f4f7ff;
    font-family: inherit;
    cursor: pointer; 
}
.disable{
    pointer-events: none;
}
.show-more:after{
    content: url('./images/Arrow.png');
    margin-left: 15px;
}
/*.greencircle{
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    padding: 15px;
}*/
.extraheader h1{
    margin-bottom: 10px; !important;
}
/*.hover:after{
    content: url('./images/i.png');
    margin-left: 15px;
}*/
.hover{
    background-image: url(./images/i.png);
    display: inline-block;
    height: 10px;
    width: 10px;
    background-size: 10px;
    /*margin-left: -10px;*/
}
.oplogo{
    padding-bottom: 20px;
}
.left{
    text-align: left;
}
.hover-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-shadow: #c3fee4 0 0 30px;
    max-width: 210px;
    margin: 0 auto;
}
.left-hover,.right-hover{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.left-hover{
    border-right: 0.5px solid #CBC9C9;
}
.hover-months{
    color: #2864FF;
    /*margin-bottom: 10px;*/
    /*line-height:50px;*/
    margin-bottom: 0 !important;
}
.hover-prices{
    /*line-height:0;*/
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
.hover:hover{
    cursor: pointer;
}
.more-text{
    animation: expand;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
    background-color: #f4f7ff;
    font-family: inherit;
    flex-direction: column;
    text-align: left;
    transition: height 2s;
     -webkit-animation: fadein 0.5s;
    animation: fadein 0.5s;
}
.hide{
    display: none !important;
}
.more-text{
    /*font-size: 20px;*/
}
.more-text ul li{
    padding: 10px;
}
.more-text ul{
    max-width: 600px;
    width: 100%;
}

sup{
    /*vertical-align: super !important;*/
    font-size: 15px; 
}

.flexbox{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

@-webkit-keyframes fadein {
    from {top: 70px; opacity: 0;}
    to {top: 80px; opacity: 1;}
}

@keyframes fadein {
    from {top: 70px; opacity: 0;}
    to {top: 80px; opacity: 1;}
}



.left-pannel { width: 9%; height: 100%; background: #fff; position: fixed; padding: 20px; padding-top: 35px; text-align: center; -webkit-transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1); -moz-transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1); transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1); z-index: 99; }
.main-pannel { width: 100%; float: right; }
.left-pannel .logo .small { margin: 0 auto; }
.logo .big { display: none; position: relative; top: -35px; left: 0; margin: 0 auto; }
.menu-toggle { display: none; }
.nav ul li a { font-family: 'proxima_softthin'; font-size: 10px; line-height: 16px; color: #3b4659; text-transform: uppercase; letter-spacing: 2px; position: relative; }
.nav ul li a:after { content: ""; position: absolute; width: 0; height: 1px; left: 0; bottom: -4px; background: #00e1b4; -webkit-transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1); -moz-transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1); transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1); }
.nav ul li a:hover:after, .nav ul li.active a:after { width: 100%; }
.navigation .left-pannel { width: 25%; }
.navigation .left-pannel .logo .small { -webkit-transform: translateX(-90px) scale(0); -moz-transform: translateX(-90px) scale(0); transform: translateX(-90px) scale(0); opacity: 0; visibility: hidden; }
.navigation .nav ul li a { font-size: 20px; line-height: 26px; }
.left-pannel .download-btn { width: 100%; padding: 35px 10px; position: absolute; bottom: 0; left: 0; font-family: 'proxima_softthin'; background: #2864ff; color: #fff; font-size: 12px; line-height: 20px; letter-spacing: 2px; text-transform: uppercase; text-align: center; }
.left-pannel .download-btn:hover { background: #00e1b4; }


/*@keyframes expand {
  100% { 
    transform: translateX(-66.6666%);
    transform: translateX(-500%);  
  }
}*/
/* Responsive */
@media only screen and (min-width: 980px) {
.mask { width: 100%; height: 100%; position: fixed; top: 0; left: 0; background: rgba(0, 0, 0, 0.6); display: none; z-index: 9; }
.nav { width: 100%; text-align: left; padding: 0 30px; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
.nav ul li { margin-bottom: 50px; text-align: center; }
.nav ul li:last-child { margin-bottom: 0; }
}
/* Left Pannel Start */

/* Banner Start */

.banner { 
    width: 100%;
    /*padding: 35px 30px 30px 120px;*/
    padding-left: 10%;
    min-height: 440px; 
    background: #f4f7ff; 
    position: relative;
}
.banner .banner-pic { width: 50%; height: 100%; position: absolute; top: 0; right: 0; background-repeat: no-repeat; background-position: top right; background-size: contain; }
.banner .banner-pic img { max-height: 100%; float: right; }
.banner article { max-width: 490px; padding-top: 70px; position: relative; z-index: 9; }
.banner .button { float: right; position: relative; z-index: 2; top: 0; right: 0; margin: 20px;}
/* Banner End */

/* Plan Start */
.plan { width: 100%; padding: 100px 80px 30px 150px; text-align: center; max-width: 1400px; }
.plan .price-table { width: 100%; display: inline-block; vertical-align: top; margin-top: 40px; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; }
.plan .price-table table { width: 600px; border: solid 1px #F5F6F7; overflow: hidden; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; }
.plan .price-table table tr { text-align: center; }
.plan .price-table table tr th, .plan .price-table table tr td { width: 50px; height: 70px; font-family: 'proxima_softthin'; padding: 5px; color: #3C465A; }
.plan .price-table table tr th { background: #e5e5e5;  border-left: solid 2px #fff; font-size: 16px; font-weight: 700; }
.plan .price-table table tr td { background: #f5f6f7; border-left: solid 2px #fff; border-top: solid 2px #fff; font-size: 15px; font-weight: 600; }
.plan .price-table table tr td:first-child, .plan .price-table table tr th:first-child { border-left: 0; }
.plan .price-table table tr td.check_right { font-size: 28px; font-weight: 700; color: #00bd00; background: #fff; }


.plan .blocks { width: 100%; display: flex; display: -webkit-flex; align-items: center; margin-top: 60px; }
.plan .blocks .block { width: 50%; padding-right: 35px; }
.plan .price-box { max-width: 420px; min-height: 420px; padding: 40px; display: flex; display: -webkit-flex; flex-flow: column; justify-content: center; border: solid 15px #009e57; position: relative; -webkit-box-shadow: #009e57 0 0 30px; -moz-box-shadow: #009e57 0 0 30px; box-shadow: #009e57 0 0 30px; -webkit-border-radius: 100%; -moz-border-radius: 100%; border-radius: 100%; }
.plan .price-box .rs-control { margin-bottom: 20px; }
span.rs-block { padding: 4px !important; }
span.rs-block .rs-border { border: 1px solid transparent; }
.rs-bar.rs-start, .rs-bar.rs-end { display: none; }
.plan .price-box #slider .rs-range-color { background: #00e1b4 !important; }
.plan .price-box #slider1 .rs-range-color { background: #2864ff !important; }
.plan .price-box .rs-control .rs-handle { width: 20px !important; height: 20px !important; margin-left: -12px !important; padding: 6px !important; background: #fff !important; font-size: 12px; color: #38465b; position: relative; }
.plan .price-box #slider .rs-handle { border: solid 8px #00e1b4 !important; }
.plan .price-box #slider1 .rs-handle { border: solid 8px #2864ff !important; }
.plan .price-box #slider .rs-tooltip-text { width: 200px; padding: 0 0 0 40px; position: absolute; left: 50%; bottom: -40px; margin: 0 !important; -webkit-transform: translateX(-50%); -moz-transform: translateX(-50%); transform: translateX(-50%); }
.plan .price-box #slider .rs-tooltip-text .rs-input { width: 100% !important; position: relative; border: 0; height: 100%; padding: 0; margin: 0; top: 0; }
.plan .price-box .price-title { width: 100%; margin-bottom: 15px; font-family: 'proxima_softthin'; font-size: 18px; line-height: 27px; font-weight: 600; }
.plan .price-box .price-title span { display: block; font-size: 16px; line-height: 22px; font-weight: 400; }
.plan .price-box .price-amount { width: 200px; margin: 0 auto 25px; position: relative; display: inline-block; vertical-align: top; padding-left: 35px; border-bottom: solid 2px #b5b5b5; }
.plan .price-box .price-amount:before { content: "$"; position: absolute; bottom: 2px; left: 0; font-size: 50px; line-height: 60px; color: #38465b; font-family: 'proxima_softthin';}
.plan .price-box .price-amount #price_val { width: 100%; border: 0; font-family: 'proxima_softthin'; font-size: 50px; line-height: 60px; color: #38465b; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; }

.plan .price-box #slider1 .rs-tooltip.rs-tooltip-text { opacity: 0; visibility: hidden; }
.plan .price-box #slider1 .rs-handle span { width: 60px; position: absolute; top: -10px; left: -50px; -webkit-transform: rotate(90deg); -moz-transform: rotate(90deg); transform: rotate(90deg); }
.plan .price-box .alert_for3, .plan .price-box .alert_for6912 { font-size: 14px;line-height: 16px; color: #f00; }

.plan .tabs { width: 100%; display: inline-block; vertical-align: top; text-align: center; margin-bottom: 40px; text-align: left; }
.plan .tabs li, .plan .price-box .tabs-month li { display: inline-block; vertical-align: top; margin-left: 20px; font-family: 'proxima_softthin'; color: #3c465a; font-size: 11px; line-height: 17px; padding: 10px 14px; border-bottom: 1px solid transparent; cursor: pointer; text-transform: uppercase; letter-spacing: 2px; }
.plan .tabs li:first-child { margin-left: 0; }
.plan .tabs li.current, .plan .price-box .tabs-month li.active { border-color: #2864ff; }
.plan .tab-content { display: none; }
.plan .tab-content.current { display: block; }

.plan .price-box .tabs-month { max-width: 210px; margin: 0 auto; display: inline-block; vertical-align: top;top: -15px;position: relative; }
.plan .price-box .tabs-month li { width: 47%; padding: 10px; margin: 0 10px 0 0; }
.plan .price-box .tabs-month li:nth-child(2n) { float: right; margin-right: 0; }

.plan .price-sec { width: 100%; float: left; margin-bottom: 10px; position: relative; background-color: white;}
.plan .price-sec:first-child { margin-bottom: 30px; padding: 10px 20px;  -webkit-border-radius: 100px; -moz-border-radius: 100px; border-radius: 100px; }
.plan .price-sec:first-child:before { 

content: ""; position: absolute; width: 101%; height: 110%; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); transform: translate(-50%, -50%); -webkit-border-radius: 100px; -moz-border-radius: 100px; border-radius: 100px; z-index: -1;  
background: -moz-linear-gradient(left, #2864ff 0%, #00e1b4 100%);
background: -webkit-linear-gradient(left, #2864ff 0%,#00e1b4 100%);
/*background: white; 
border-style: solid;
border-width: 3px;
border-radius: 100px;
border-image: linear-gradient(to right, #366ffc 0%,#00e1b4 100%)100% 0 100% 0/3px 3px 3px 3px stretch;*/

}


.plan .price-sec:first-child span { color: #000; }
.plan .price-sec .title { float: left; }
.plan .price-sec .amount { float: right; }
.plan .price-sec span { font-family: 'proxima_softthin'; font-size: 24px; line-height: 30px; color: #3c465a; position: relative; }
/* Plan End */

/* work Info Start */
.work-info {width: 100%; padding: 100px 80px 100px 150px; max-width: 1400px; }
.work-info .blocks { width: 100%; display: flex; }
.work-info .blocks .block { width: 48%; margin-right: 20px; padding: 40px; border: solid 1px #3C465A; -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; }
.work-info .blocks .block h3 { position: relative; margin-bottom: 30px; padding-bottom: 15px; font-size: 24px; line-height: 30px; font-weight: 300; color: #3c465a; }
.work-info .blocks .block h3:after { content: ""; width: 36px; height: 3px; position: absolute; left: 0; bottom: -4px; 
background: #366ffc;
background: -moz-linear-gradient(left, #366ffc 0%, #00e1b4 100%);
background: -webkit-linear-gradient(left, #366ffc 0%,#00e1b4 100%);
background: linear-gradient(to right, #366ffc 0%,#00e1b4 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#366ffc', endColorstr='#00e1b4',GradientType=1 ); -webkit-border-radius: 20px; -moz-border-radius: 20px; border-radius: 20px; }
.work-info .blocks .block ul { padding-left: 15px; }
.work-info .blocks .block li { margin-bottom: 5px; list-style-type: decimal; font-size: 14px; line-height: 24px; color: #3C465A; font-weight: 300; text-align: left;}
.work-info .blocks .block li:last-child { margin-bottom: 0; }
/* work Info End */

/* Find Us Start */
.find-us { width: 100%; padding: 100px 80px 90px 150px; text-align: center; position: relative; }
.find-us:after { content: ""; position: absolute; width: 160px; height: 160px; bottom: 0; right: 0; background: url('images/patten.png') no-repeat; background-size: cover; }
.find-us form { max-width: 520px; margin: 0 auto; }
.find-us form input[type="text"], .find-us form input[type="submit"], .find-us form button { font-family: 'proxima_softthin'; font-size: 10px; line-height: 16px; letter-spacing: 2px; text-transform: uppercase; padding: 8px 14px; margin-right: 25px; color: #3B4659; display: inline-block; vertical-align: middle; -webkit-border-radius: 60px; -moz-border-radius: 60px; border-radius: 60px; }
.find-us form input[type="text"] { width: 250px; border: solid 2px #3C465A; -webkit-transition: all 0.4s ease-in-out; -moz-transition: all 0.4s ease-in-out; transition: all 0.4s ease-in-out; }
.find-us form input[type="text"]:focus { border-color: #00e1b4; }
.find-us form input[type="submit"] { padding: 8px 40px 8px 20px; background: #fff; border: solid 2px #00e1b4; background: url('images/icon-r.png') no-repeat center right 25px; }
.find-us form button { background: transparent; border: 0; padding: 0; margin: 0;  }
/* Find Us End */

/* Contact Start */
.contact-us { width: 100%; display: flex; background: #f4f7ff; }
.contact-us .contact-address { width: 38%; padding: 90px 50px 0 90px; }
.contact-us .contact-address h4 { font-size: 12px; line-height: 18px; font-weight: 400; color: #3c465a; letter-spacing: 2px; }
.contact-us .contact-address p { margin-bottom: 30px; color: #666; }
.contact-us .contact-address .direction { width: 100%; display: inline-block; vertical-align: top; margin-bottom: 30px; background: #fff; -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; overflow: hidden; }
.contact-us .contact-address .direction .address-info { width: 100%; display: inline-block; vertical-align: top; padding: 30px 15px; }
.contact-us .contact-address .direction h5 { margin-bottom: 30px; font-family: 'proxima_softthin'; font-size: 20px; line-height: 26px; color: #333; font-weight: 300; }
.contact-us .contact-address .direction .call { float: left; margin: 0; }
.contact-us .contact-address .direction .site { float: right; margin: 0; }
.contact-us .contact-address .direction p img { display: inline-block; vertical-align: middle; margin-right: 10px; }
.contact-us .contact-address .direction p a { color: #666; }
.contact-us .contact-address .direction .direction-link { font-family: 'proxima_softthin'; font-size: 12px; line-height: 20px; padding: 6px; display: block; text-align: center; color: #fff; text-transform: uppercase; letter-spacing: 2px;
background: #000100; 
background: -moz-linear-gradient(left, #000100 0%, #009251 100%); 
background: -webkit-linear-gradient(left, #000100 0%,#009251 100%);
background: linear-gradient(to right, #000100 0%,#009251 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000100', endColorstr='#009251',GradientType=1 ); 
 }
.contact-us .map { width: 62%; }
.contact-us .map iframe { width: 100%; height: 100%; }
/* Contact End */

/* Get Checkout Start */
.get-checkout { width: 100%; padding: 90px 0; display: inline-block; vertical-align: top; background: #3b465a; text-align: center; }
.get-checkout h2 { margin-bottom: 30px; font-size: 36px; line-height: 42px; color: #fff; }

.btncontainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 200px;
}
.btncontainer a{
    display: flex;
    justify-content: center;
    align-items: center;
    /*margin-left: 40px;*/

}
.get-checkout .download-app { max-width: 200px; height: 38px; margin: 0 auto; padding: 6px; border: solid 2px #00e1b4; -webkit-border-radius: 100px; -moz-border-radius: 100px; border-radius: 100px; position: relative; }
.get-checkout .download-app span { background: url('images/icon-r.png') no-repeat center right 25px; width: 100%; position: absolute; top: 0; left: 0; font-family: 'proxima_softthin'; font-size: 11px; line-height: 34px; letter-spacing: 2px; text-transform: uppercase; color: #fff; -webkit-transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1); -moz-transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1); transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);}
.get-checkout .download-app:hover span { opacity: 0; visibility: hidden; -webkit-transform: scale(0); -moz-transform: scale(0); transform: scale(0); }
.get-checkout .download-app a {margin: 0 20px;font-size: 25px; color: #00e1b4; opacity: 0; visibility: hidden; background-color: white; border-radius: 50%;height: 40px; width: 40px;padding: 5px;margin-top: -10px;}
.get-checkout .download-app:hover a { opacity: 1; visibility: visible;text-decoration-line: none; }
.get-checkout .download-app:hover {
    border: none;
    text-decoration-line: none;
}



/* Get Checkout End */

/* Footer Start */
footer { width: 100%; display: inline-block; vertical-align: top; background: #f5f6f8; padding: 50px; text-align: center; }
footer .footer-logo { float: left; }
footer .footer-nav { display: inline-block; vertical-align: top; }
footer .socila-icon { float: right; margin-top: 10px; }
.footer-nav ul li { float: left; margin-left: 90px; line-height: 43px; }
.footer-nav ul li:first-child { margin-left: 0; }
.footer-nav ul li a { font-family: 'proxima_softthin'; font-size: 9px; line-height: 15px; color: #3b4659; text-transform: uppercase; letter-spacing: 2px; }
.footer-nav ul li a:hover { color: #00e1b4; }

.socila-icon ul li { float: left; margin-left: 20px; }
.socila-icon ul li:first-child { margin-left: 0; }
.socila-icon ul li a { width: 25px; height: 25px; background: #c7cad1; color: #fff; font-size: 12px; line-height: 25px; display: block; -webkit-border-radius: 100px; -moz-border-radius: 100px; border-radius: 100px; }
.socila-icon ul li a:hover { background: #00e1b4; }
/* Footer End */

/* Responsive */
@media only screen and (max-width: 1239px) {
.plan .blocks .block { width: 55%; padding-right: 30px; }
.flexbox{
    /*padding-top: 50px; */

}
.plan .blocks .block:last-of-type { width: 45%; padding-right: 0; }
}
@media only screen and (max-width: 1149px) {
.left-pannel { width: 12%; }
.main-pannel { width: 100% }
.banner { padding-left: 40px; min-height: auto; }
.banner .banner-pic { width: 40%; }
.banner article { max-width: 430px; padding-top: 0; }
h1, h2 { font-size: 36px; line-height: 42px; margin-bottom: 25px; }
.plan .price-sec span { font-size: 20px; line-height: 26px; }
.plan, .work-info, .find-us, .get-checkout, footer { padding: 40px; }
.find-us:after { width: 100px; height: 100px; }
.contact-us .contact-address { padding: 40px; }
.footer-nav ul li { margin-left: 25px; }
}
@media only screen and (max-width: 979px) {
/* Left pannel */

.left-pannel { width: 100% !important; display: inline-block; vertical-align: top; padding: 15px 30px; position: relative; }
.logo { float: left; }
.logo .small { display: none; }
.logo .big { display: block !important; top: 0; }
.nav .menu { width: 100%; height: 100%; position: fixed; top: 0; left: 0; background: #fff; display: none; padding: 100px; z-index: 1; text-align: left; }
.nav .menu ul li { margin-bottom: 40px; }
.nav .menu ul li a { font-size: 30px; line-height: 36px; }
.menu-toggle { margin-bottom: 20px; display: block; float: right; padding: 0; background: transparent; width: 30px; height: 40px; position: relative; border: none; cursor: pointer; z-index: 2; }
.menu-toggle span, .menu-toggle span::after, .menu-toggle span::before { width: 100%; content: ""; right: 0; position: absolute; background: #00E1B4; height: 2px; -webkit-transition: all 0.4s ease-in-out; -moz-transition: all 0.4s ease-in-out; transition: all 0.4s ease-in-out; }
.menu-toggle span { width: 100%; right: 0; }
.menu-toggle span::after { top: -5px; }
.menu-toggle span::before { bottom: -5px; }
.menu-toggle:hover span::after { top: -7px; }
.menu-toggle:hover span::before { bottom: -7px; }
.menu-toggle.active span { background: transparent; }
.menu-toggle.active span::after { -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); transform: rotate(45deg); top: 0; }
.menu-toggle.active span::before { -webkit-transform: rotate(135deg); -moz-transform: rotate(135deg); transform: rotate(135deg); bottom: 0; }
.left-pannel .download-btn { width: auto; float: right; margin-right: 45px; padding: 10px; position: relative; }
/* Left pannel */
.main-pannel { width: 100%; }
.banner { padding: 30px; }
.banner article h1 { font-size: 30px; line-height: 36px; margin-bottom: 15px; }
.banner article p { margin-bottom: 0; }
.plan .blocks { display: inline-block; vertical-align: top; margin-top: 40px;}
.plan .blocks .block { width: 100% !important; padding: 0; margin-bottom: 30px; }
.plan .blocks .block:last-child { margin-bottom: 0; }
.plan .price-box { margin: 0 auto; }
.plan .tabs { margin-bottom: 25px; text-align: center; }
.plan, .work-info, .find-us, footer { padding: 20px 15px; }
.get-checkout { padding: 30px; }
.work-info .blocks .block { width: 49%; padding: 20px; }
.work-info .blocks .block:last-of-type { margin-right: 0; margin-bottom: 0; }
.find-us:after { width: 70px; height: 70px; }
}
@media only screen and (max-width: 767px) {
h1, h2, .get-checkout h2 { font-size: 30px; line-height: 36px; margin-bottom: 20px; }
.nav .menu { padding: 60px 30px; }
.banner { padding: 12px 20px; }
.banner article { max-width: 330px; }
.banner .banner-pic { width: 45%; }
.work-info { padding-top: 0; }
.work-info .blocks { display: inline-block; vertical-align: top; }
.work-info .blocks .block { width: 100%; margin-bottom: 15px; }
.contact-us .contact-address { width: 50%; padding: 20px; }
}


@media only screen and (max-width: 639px) {
.left-pannel { padding: 15px; }
.banner { padding: 0; }
.flexbox{
    padding-top: 0; 
}
.banner .banner-pic { width: 100%; position: relative; }
.banner .banner-pic img { width: 100%; float: none; }
.banner article { max-width: 100%; padding: 20px; display: inline-block; vertical-align: top; }
.banner article h1 { font-size: 22px; line-height: 28px; }
.banner .button { position: absolute; top: 0; right: 0; padding: 5px 10px; font-size: 12px; line-height: 20px; margin:20px;}
.plan .price-table { overflow-x: auto; margin-top: 20px; }
.find-us form input[type="text"] { width: 200px; }
.find-us form input[type="text"], .find-us form input[type="submit"] { margin-right: 10px; }
.find-us::after { width: 30px; height: 30px; }
.contact-us { display: inline-block; vertical-align: top; }
.contact-us .contact-address { width: 100%; }
.contact-us .map { width: 100%; }
footer { text-align: center; }
footer .footer-logo { float: none; display: inline-block; vertical-align: top; }
footer .footer-nav { width: 100%; }
.footer-nav ul li { margin-left: 15px; float: none; display: inline-block; vertical-align: top; }
footer .socila-icon { float: none; display: inline-block; vertical-align: top; }
}
@media only screen and (max-width: 479px) {
h1, h2, .get-checkout h2 { font-size: 24px; line-height: 30px; }
.logo { margin-bottom: 20px; margin-right: 40px; }
.left-pannel .download-btn { float: none; display: inline-block; vertical-align: top; margin: 0; }
.plan .price-box { min-height: 380px; }
.plan .price-box .price-title { font-size: 16px; line-height: 22px; margin-bottom: 10px; }
.plan .price-sec span { font-size: 16px; line-height: 20px; }
.plan .price-sec .title {  text-align: left; }
.plan .price-box .price-title span { font-size: 14px; line-height: 14px; }
.plan .price-box .alert_for3, .plan .price-box .alert_for6912 { font-size: 12px; line-height: 14px; margin-bottom: 10px; }
.plan .price-box .price-amount { padding-left: 22px; margin-bottom: 10px; }
.plan .price-box .price-amount:before, .plan .price-box .price-amount #price_val { font-size: 30px; line-height: 30px; }

.find-us form input[type="text"], .find-us form button { width: 100%; }
.find-us form input[type="text"], .find-us form input[type="submit"] { margin: 0 0 12px; }
}
